.clear{
  clear: both;
}
a{
  text-decoration: none !important;
}
.header{
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  padding: 0 !important;
}
.navbar-brand{
  padding: 0 15px;
}
.header .logo{
  padding-top: 5px;
  width: 173px;
  height: 100%;
}
.header img{
  width: 100%;
  height: 60px;
  padding: 4px 0px;
}
.header img:hover{
  cursor: pointer;
}
.header ul li a{
  transition: 0.3s;
  letter-spacing: 0.6px;
  font-weight: bold;
  font-size: 16px;
  color: white !important;
}
.header ul li{
  border-bottom: 5px solid transparent;
  border-top: 5px solid transparent;
  padding: 5px 0;
}
.header ul li:hover{
  border-bottom: 5px solid #C0392B;
}

.header ul .active a{
  background-color: transparent !important;
  color: #C0392B !important;
}
#mynavbar{
  width: 100%;
  text-align: center !important;
}
.wrap-about-us{
  margin-top: 65px;
}
.shrink{
  padding: 0px;
}
.nav-down {
  position: fixed;
  top: 0;
  transition: top 0.4s ease-in-out;
  width: 100%;
}

.nav-up {
  top: -65px;
  position: fixed;
  transition: top 0.4s ease-in-out;
}

.second-nav-down{
  transition: top 0.4s ease-in-out;
  width: 100%;
}
.second-nav-up {
  top: 0px;
}
.navbar-inverse .navbar-toggle{
  background-color: transparent;
  border-color: transparent;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover{
  background-color: transparent;
}


/*FOOTER*/
.footer{
  margin-top: 30px;
  background-color: #222222;
  padding-top: 15px;
  padding-bottom: 15px;
  color: lightgray;
}
.footer img{
  width: 143px;
  margin-bottom: 20px;
}
.footer i{
  color: #C0392B;
  margin-right: 10px;
  margin-left: 10px;
}
.footer .border-bottom{
  border-bottom: 2px solid #C0392B;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.footer .copyright{
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .copyright a{
  text-decoration: none;
}
.footer .copyright i{
  font-size: 24px;
  color: white;
  transition: 0.3s;
}
.footer .copyright i:hover{
  color: #C0392B;
  transform: scale(1.2);
}
.footer ul{
  list-style: none;
  padding: 0;
  padding-top: 5px;
}
.footer ul li{
  height: 23px;
  cursor: pointer;
  transition: 0.3s;
}
.footer ul li:hover{
  color: #C0392B;
  font-size: 16px;
}
.footer ul a{
  text-decoration: none;
  color: lightgray;
}


/*RIGHT SIDE*/
.display-none{
	display: none;
	transition: 0.4s;
}
.display-block{
	display: block;
	transition: 0.4s;
}
hr{
  width: 85px;
  height: 5px;
  background-color: #C0392B;
  margin-top: 0;
  margin-bottom: 30px;
}
h2{
  font-weight: 700;
}


@media screen and (max-width: 991px) {
  .header ul li  a{
    font-size: 13px;
  }
  .footer img{
    margin: 0 auto;
  }
  .header .logo{
    height: auto;
  }
  .header{
    padding: 0 !important;
  }
  .wrap-about-us{
    margin-top: 80px;
  }
  h2{
    margin-top: 0;
  }
}



@media screen and (max-width: 991px) {
  .header ul li  a{
    font-size: 13px;
  }
  .footer img{
    margin: 0 auto;
  }
  .wrap-about-us .left-side{
    display: none;
  }
  .sticky-tablet{
    display: block;
  }
  .footer{
    text-align: center;
  }
  .header ul li {
    padding: 0;
  }
  .header .logo {
    padding-top: 0px;
  }
}

@media screen and (min-width: 768px) {
  .clear{
    clear: none;
  }
}


/*SLIDER TEAM*/
.slider-team{
  display: none;
}
.inner-slider-team{
  margin: 10px;
  background-image: linear-gradient(lightgray, white);
}
.slider-team .img-team{
  background-image: url(images/girl-work.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 200px;
}

.slider-team .text-team{
  padding: 20px 30px;
}
.slider-team .text-team span{
  font-size: 11px;
  text-transform: uppercase;
  /* background: #ebebeb; */
  background: rgba(0, 0, 0, .07);
  padding: 8px 10px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 100px;
  margin-bottom: 7px;
  margin-right: 3px;
}
.slider-team .text-team h5{
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 25px;
  padding-bottom: 25px;
  height: 100px;
}
.slick-prev.slick-arrow{
  position: absolute;
  border-radius: 50%;
  border-style: unset;
  vertical-align: middle;
  width: 75px;
  height: 75px;
  color: #41edbb;
  background: lightgray;
  border-radius: 50%;
  overflow: hidden;
  line-height: 75px;
  text-align: center;
  cursor: pointer;
  margin-left: 15px;
  transition: all .4s;
  right: 100px;
  bottom: 0px;
  color: #C0392B;
}
.slider-team{
  display: none;
}
.slick-next.slick-arrow{
  position: absolute;
  border-radius: 50%;
  border-style: unset;
  vertical-align: middle;
  width: 75px;
  height: 75px;
  background: lightgray;
  border-radius: 50%;
  overflow: hidden;
  line-height: 75px;
  text-align: center;
  cursor: pointer;
  margin-left: 15px;
  transition: all .4s;
  right: 10px;
  bottom: 0px;
  color: #C0392B;
}
.slick-arrow:hover{
  color: lightgray;
  background-color: #C0392B;
}
.slider-team .slick-arrow:active{
  border-style: unset;
}
.slider-team .slick-arrow:focus,
.slider-team div:focus {
    outline: 0;
}
.slider-team.slick-initialized.slick-slider{
  padding-bottom: 80px;
}
.slick-prev::before {
    content: "<";
    font-size: 36px;
}
.slick-next::before {
    content: ">";
    font-size: 36px;
}
.slick-arrow{
 font-size: 0;
}
.slick-prev::before,
.slick-next::before {
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
    }
@media screen and (max-width: 767px) {
  .header ul li{
    padding: 0;
  }
  .header img {
    padding: 2px 20px 2px 0px;
    height: 45px;
  }
  .header .logo{
    padding: 0;
    padding: 2.5px 7px;
  }
  .header #mynavbar ul {
    display: inline-block;
  }
  .wrap-about-us{
    margin-top: 60px;
  }
}