@font-face {
  font-family: Segoe Script;
  src: url(fonts/segoesc.ttf);
}
.clear{
  clear: both;
}
a{
  text-decoration: none !important;
}
.header{
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}
.header ul li a{
  padding-top: 21px;
}
.header .logo{
  padding: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 143px;
}
.header img{
  width: 100%;
  height: 100%;
}
.header img:hover{
  cursor: pointer;
}
.header ul li a{
  border-bottom: 5px solid transparent;
  transition: 0.3s;
  letter-spacing: 0.6px;
  font-weight: bold;
  font-size: 16px;
  font-family: Segoe Script, sans-serif;
}
.header ul li a:hover{
  border-bottom: 5px solid #C0392B;
}
.header ul .active a{
  background-color: transparent !important;
  color: #C0392B !important;
}
#mynavbar{
  width: 100%;
  text-align: center !important;
}
.wrap-about-us{
  margin-top: 110px;
}

/*FOOTER*/
.footer{
  background-color: #222222;
  padding-top: 15px;
  padding-bottom: 15px;
  color: lightgray;
}
.footer img{
  width: 143px;
  height: 51px;
  margin-bottom: 20px;
}
.footer i{
  color: #C0392B;
  margin-right: 10px;
}
.footer .border-bottom{
  border-bottom: 2px solid #C0392B;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.footer .copyright{
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .copyright a{
  text-decoration: none;
}
.footer .copyright i{
  font-size: 24px;
  color: white;
  transition: 0.3s;
}
.footer .copyright i:hover{
  color: #C0392B;
  transform: scale(1.2);
}
.footer ul{
  list-style: none;
  padding: 0;
  padding-top: 5px;
}
.footer ul li{
  height: 23px;
  cursor: pointer;
  transition: 0.3s;
}
.footer ul li:hover{
  color: #C0392B;
  font-size: 16px;
}
.footer ul a{
  text-decoration: none;
  color: lightgray;
}

/*BUTTON TO TOP*/

.top-button i{
  color: white;
  position: fixed;
  right: 40px;
  bottom: 40px;
  background-color: #222222;
  padding: 10px;
  border-radius: 7px;
  z-index: 999;
}
.top-button:hover i{
  background-color: #C0392B;
  cursor: pointer; #222222;
}
.hideme{
  opacity: 0;
}


/*LEFT SIDE*/

.left-side{
	padding: 0;
}
.left-side ul{
	padding-left: 0;
	margin: 0;
	height: 100%;
	/*position: fixed;*/
	/*width: 19%;*/
	/*padding-top:40px;*/
	/*padding-left: 40px;*/
	border-radius: 10px;
  z-index: 1;
}
.left-side ul li{
	list-style: none;
	font-size: 15px;
	cursor: pointer;
	color: lightgray;
	border-left: 20px solid #222222;
	letter-spacing: 1px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 15px;
	background-color: #222222;
	transition: 0.4s;
}
.left-side ul li:hover{
	background-color: #C0392B;
	border-left: 20px solid #C0392B;
}
.left-side ul li i{
	padding-top: 3px;
}
.wrap-about-us .left-side ul .active-right-side{
	border-left: 20px solid #C0392B;
	padding-left: 10px;
}





/*RIGHT SIDE*/
.display-none{
	display: none;
	transition: 0.4s;
}
.display-block{
	display: block;
	transition: 0.4s;
}
.right-side h2{
  border-bottom: 2px solid #C0392B;
  padding:13px;
  padding-left: 25px;
}
.right-side i{
  transition: 0.3s;
  border: 2px solid white;
  border-radius: 50%;
  padding: 10px;
  color: white !important;
  margin: 5px 3px 0 3px;
}
.right-side i:hover{
  transform: scale(1.2);
  border: 2px solid #C0392B;
}


/*OUR TEAM*/
#our-team div img{
  width: 100%;
}
#our-team .col-md-3{
  padding: 15px;
}
#our-team .person{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 180px;
  width: 180px;
  cursor: pointer;
  border-radius: 50%;
}
#our-team .overlay{
  height: 180px;
  width: 180px;
  z-index: 1;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 50%;
  padding-top: 20px;
}
#our-team .overlay div{
  opacity: 0;
}
#our-team .overlay:hover div{
  opacity: 1;
  color: white;
}
#our-team .col-md-2{
  transition: 0.3s;
}
#our-team .col-md-2:hover{
  z-index: 999; 
}
#our-team .overlay:hover{
  background-color: rgba(2,2,2,0.7);
}
#our-team div .color-h4{
  color: #C0392B;
  letter-spacing: 1px;
}
#our-team .person1{
  background-image: url(images/person1.jpg);
}
#our-team .person2{
  background-image: url(images/person8.jpg);
}
#our-team .person3{
  background-image: url(images/person3.jpg);
}
#our-team .person4{
  background-image: url(images/person4.jpg);
}
#our-team .person5{
  background-image: url(images/person2.jpg);
}
#our-team .person6{
  background-image: url(images/person6.jpg);
}
#our-team .person7{
  background-image: url(images/person7.jpg);
}
#our-team .person8{
  background-image: url(images/person8.jpg);
}
/*OUR SKILLS*/
.panel-heading{
  cursor: pointer;
}
#accordion .right{
  width: 2px;
  height: 11px;
  background-color: black;
  transform: rotate(40deg);
  margin-right: 4px;
  margin-top: 3px;
  transition: 0.4s;
}
#accordion .left{
  width: 2px;
  height: 11px;
  background-color: black;
  transform: rotate(320deg);
  margin-right: 4px;
  margin-top: 3px;
  transition: 0.4s;
}
.active-panel-body-right{
  transform: rotate(140deg)!important;
}
.active-panel-body-left{
  transform: rotate(220deg)!important;
}
.background-panel-title{
  background-color: #C0392B !important;
  color: white !important;
}

/*PROGRESS BAR*/
.progress{
  height: 40px;
}
.background-progress-bar{
  background-image: linear-gradient(to right, #222222 , #C0392B);
  font-size: 18px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Titillium Web, sans-serif;
  border-radius: 5px;
}
.progress .background-progress-bar p:nth-child(1) {
    color:  lightgray;
}
.progress .background-progress-bar p:nth-child(2) {
    padding-right: 10px;
    color:  lightgray;
}
.progress-percent{
  opacity: 0;
}




@media screen and (max-width: 991px) {
  .header ul li  a{
    font-size: 13px;
  }
  .footer img{
    margin: 0 auto;
  }
  .header .logo{
    height: auto;
  }
}
/*.person2{
  height: 3000px;
}*/

#our-team .col-md-3{
  display: none;
}


#offices{
  height: 700px;
}

#partners{
  height: 700px;
}

#our-business{
  height: 700px;
}

.sticky{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 61px 50px;
}
.sticky-tablet{
    position: -webkit-sticky;
    position: sticky;
    top: 58px;
    padding: 0px 0px;
    z-index: 999999;
    background-color: white;
    display: none;
}


}
@media screen and (max-width: 2200px) {
  .modul-box .even-model div{
    left: 10.3vh;
  }
}
@media screen and (max-width: 1440px) {
  .modul-box .even-model div{
    left: 9.3vh;
  }
}
@media screen and (max-width: 1380px) {
  .modul-box .even-model div{
    left: 12vh;
    width: 22vh;
  }
}
/*DODADENO*/
@media screen and (max-width: 1321px) {
  .modul-box .even-model div{
    left: 13.5vh;
    width: 25vh;
  }
}
@media screen and (max-width: 1321px) {
  .modul-box .even-model div{
    left: 13.5vh;
    width: 25vh;
  }
}

@media screen and (max-width: 1199px) {
  .text-bottom-modul div{
    width: 21%;
    margin-right: -144px;
  }
}

@media screen and (max-width: 1000px) {
  .display-none-tablet{
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .header ul li  a{
    font-size: 13px;
  }
  .footer img{
    margin: 0 auto;
  }
}
@media screen and (max-width: 991px) {
  .wrap-about-us .left-side{
    display: none;
  }
  .sticky-tablet{
    display: block;
  }
  .right-side h2{
    display: none;
  }
  .page-section{
    border-top: 2px solid #C0392B;
    padding-top: 10px;
  }
}
@media screen and (min-width: 768px) {
  .clear{
    clear: none;
  }
}


/*MOBILE NAVBAR*/

.stickeyy {
  box-sizing: inherit;
}
.pn-ProductNav_Wrapper {
  position: relative;
  padding: 0 15px;
  box-sizing: border-box;
}
.pn-ProductNav {
  /* Make this scrollable when needed */
  overflow-x: auto;
  /* We don't want vertical scrolling */
  overflow-y: hidden;
  /* For WebKit implementations, provide inertia scrolling */
  -webkit-overflow-scrolling: touch;
  /* We don't want internal inline elements to wrap */
  white-space: nowrap;
  /* If JS present, let's hide the default scrollbar */
  /* positioning context for advancers */
  position: relative;
  font-size: 0;
}
.js .pn-ProductNav {
  /* Make an auto-hiding scroller for the 3 people using a IE */
  -ms-overflow-style: -ms-autohiding-scrollbar;
  /* Remove the default scrollbar for WebKit implementations */
}
.js .pn-ProductNav::-webkit-scrollbar {
  display: none;
}
.pn-ProductNav_Contents {
  float: left;
  transition: transform 0.2s ease-in-out;
  position: relative;
}
.pn-ProductNav_Contents-no-transition {
  transition: none;
}
.pn-ProductNav_Link {
  text-decoration: none;
  color: #888;
  font-size: 16px;
  font-family: -apple-system, sans-serif;
  display: inline-flex;
  align-items: center;
  min-height: 44px;
  border: 1px solid transparent;
  padding: 0 21px;
  /*margin-top: 7px;*/
}
.pn-ProductNav_Link + .pn-ProductNav_Link {
  border-left-color: #eee;
}
.pn-ProductNav_Link[aria-selected="true"] {
  color: #111;
}
.pn-Advancer {
  /* Reset the button */
  appearance: none;
  background: transparent;
  padding: 0;
  border: 0;
  /* Now style it as needed */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  /* Set the buttons invisible by default */
  opacity: 0;
  transition: opacity 0.3s;
}
.pn-Advancer:focus {
  outline: 0;
}
.pn-Advancer:hover {
  cursor: pointer;
}
.pn-Advancer_Left {
  left: 0;
}
[data-overflowing="both"] ~ .pn-Advancer_Left, [data-overflowing="left"] ~ .pn-Advancer_Left {
  opacity: 1;
}
.pn-Advancer_Right {
  right: 0;
}
[data-overflowing="both"] ~ .pn-Advancer_Right, [data-overflowing="right"] ~ .pn-Advancer_Right {
  opacity: 1;
}
.pn-Advancer_Icon {
  width: 10px;
  height: auto;
  fill: #bbb;
}
.pn-ProductNav_Indicator {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100px;
  background-color: transparent;
  transform-origin: 0 0;
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}



/*CARDS OUR TEAM*/

.popular-articles a{
  text-decoration: none;
  color: black ;
}
.popular-articles {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin: 0 0 5rem 0;
    padding: 2rem 0;
}

.mini-card-grid {
    scrollbar-color: #201c29;
    scrollbar-width: 10px;
    scrollbar-gutter: always;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;    
    padding: 3rem;
}
.mini-card {
    min-width: 300px;
    min-height: 350px;
    padding: 1.5rem;
    border-radius: 16px;
    background: white;
    -webkit-box-shadow: 0px 0px 14px -1px rgba(0,0,0,0.42);
    -moz-box-shadow: 0px 0px 14px -1px rgba(0,0,0,0.42);
    box-shadow: 0px 0px 14px -1px rgba(0,0,0,0.42);
    transition: 0.3s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-transition: .2s;
    transition: .2s;
    margin: 0;

}
.mini-card:hover{
  cursor: pointer;
}
.mini-card:not(:first-child) {
    margin-left: -130px;
}
/*.mini-card:not(:first-child):hover {
    margin-left: 0px;
}*/
.mini-article-card-header {
    margin-bottom: auto;
}
.mini-article-subhead {
  font-size: 14px;
  margin: 0 0 1rem 0;
}
time {
    color: #7a7a8c;
}
.mini-card h2 {
    font-size: 20px;
    margin: .25rem 0 auto 0;
}
.mini-article-byline {
    margin: 3rem 0 0 0;
    display: grid;
    grid-template-columns: 75px 1fr;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.mini-article-byline .author-avatar, .mini-article-byline .author-name-area {
    grid-area: auto;
}
.author-avatar {
    grid-area: avatar;
    -ms-flex-item-align: start;
    align-self: start;
    position: relative;
}
.mini-article-meta .author-name {
    display: block;
    height: 80px;
    width: 80px;
    position: relative;
    color: black;
}
.mini-article-meta .author-avatar .half-circle {
    width: 60px;
    height: 48px;
}
.author-avatar .half-circle {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 80px;
    height: 56px;
    fill: none;
    stroke: url(#orange-to-pink);
    stroke-width: 8;
    stroke-linecap: round;
    pointer-events: none;
}
article-byline .author-name-area {
    grid-area: auto;
}
.author-name-prefix, .comments-prefix, .created-prefix, .updated-prefix {
    color: #7a7a8c;
}

.author-avatar img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: 12px 10px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
img {
    max-width: 100%;
    height: auto !important;
}
.author-avatar .half-circle {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 80px;
    height: 56px;
    fill: none;
    stroke: url(https://css-tricks.com/wp-content/themes/CSS-Tricks-17/style.css?v=8.3#orange-to-pink);
    stroke-width: 8;
    stroke-linecap: round;
    pointer-events: none;
}
.mini-article-meta .author-avatar img {
    width: 40px !important;
    height: 40px;
}
.module>:last-child>:last-child {
    margin-bottom: 0;
}
.tags a {
    color: #7a7a8c;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
    white-space: nowrap;
    border: 3px solid #28242f;
    border-radius: 2rem;
    padding: .2rem .85rem .25rem .85rem;
}

.mini-card:focus-within, 
.mini-card:hover {
    -webkit-transform: translate(0,-1rem);
    transform: translate(0,-1rem);
}
.mini-card:focus-within~.mini-card, 
.mini-card:hover~.mini-card {
    -webkit-transform: translateX(130px);
    transform: translateX(130px);
}
.module {
    clear: both;
    margin: 0 0 1rem 0;
    position: relative;
  }
:root body.header-not-at-top {
    --nav-height: 60px;
}

.mini-card-grid::-webkit-scrollbar {
    -webkit-appearance: none;
}

.mini-card-grid::-webkit-scrollbar:horizontal {
    height: 11px;
}

.mini-card-grid::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, .5);
}

.mini-card-grid::-webkit-scrollbar-track { 
    background-color: #f4f4f4;
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
    border-radius: 8px; 
} 


.header{
  width: 100%;
  padding: 30px 0;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out; 
  z-index: 9999;
  top: 0;
  position: fixed;
}

.shrink{
  padding: 0px;
}
.second-logo{
  /*display: none;*/
}