.clear{
  clear: both;
}
a{
  text-decoration: none !important;
}
.header{
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}
.header ul li a{
  padding-top: 21px;
}
.header .logo{
  padding: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 143px;
  height: 100%;
}
.header img{
  width: 100%;
  height: 100%;
}
.header img:hover{
  cursor: pointer;
}
.header ul li a{
  border-bottom: 5px solid transparent;
  transition: 0.3s;
  letter-spacing: 0.6px;
  font-weight: bold;
  font-size: 16px;
}
.header ul li a:hover{
  border-bottom: 5px solid #C0392B;
}
.header ul .active a{
  background-color: transparent !important;
  color: #C0392B !important;
}
#mynavbar{
  width: 100%;
  text-align: center !important;
}
.wrap-about-us{
  margin-top: 80px;
}

/*FOOTER*/
.footer{
  margin-top: 30px;
  background-color: #222222;
  padding-top: 15px;
  padding-bottom: 15px;
  color: lightgray;
}
.footer img{
  width: 143px;
  /*height: 51px;*/
  margin-bottom: 20px;
}
.footer i{
  color: #C0392B;
  margin-right: 10px;
}
.footer .border-bottom{
  border-bottom: 2px solid #C0392B;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.footer .copyright{
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .copyright a{
  text-decoration: none;
}
.footer .copyright i{
  font-size: 24px;
  color: white;
  transition: 0.3s;
}
.footer .copyright i:hover{
  color: #C0392B;
  transform: scale(1.2);
}
.footer ul{
  list-style: none;
  padding: 0;
  padding-top: 5px;
}
.footer ul li{
  height: 23px;
  cursor: pointer;
  transition: 0.3s;
}
.footer ul li:hover{
  color: #C0392B;
  font-size: 16px;
}
.footer ul a{
  text-decoration: none;
  color: lightgray;
}

/*BUTTON TO TOP*/

.top-button i{
  color: white;
  position: fixed;
  right: 40px;
  bottom: 40px;
  background-color: #222222;
  padding: 10px;
  border-radius: 7px;
  z-index: 999;
}
.top-button:hover i{
  background-color: #C0392B;
  cursor: pointer; #222222;
}
.hideme{
  opacity: 0;
}

/*RIGHT SIDE*/
.display-none{
	display: none;
	transition: 0.4s;
}
.display-block{
	display: block;
	transition: 0.4s;
}
.right-side h2{
  border-bottom: 2px solid #C0392B;
  padding-bottom: 10px;
  padding-top: 0;
  margin-left: 10px;
  margin-right: 10px;
}
.right-side i{
  transition: 0.3s;
  border: 2px solid white;
  border-radius: 50%;
  padding: 10px;
  color: white !important;
  margin: 5px 3px 0 3px;
}
.right-side i:hover{
  transform: scale(1.2);
  border: 2px solid #C0392B;
}


@media screen and (max-width: 991px) {
  .header ul li  a{
    font-size: 13px;
  }
  .footer img{
    margin: 0 auto;
  }
  .header .logo{
    height: auto;
  }
  .header{
    padding: 0 !important;
  }
}
/*.person2{
  height: 3000px;
}*/



.sticky{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 61px 50px;
}
.sticky-tablet{
    position: -webkit-sticky;
    position: sticky;
    top: 58px;
    padding: 0px 0px;
    z-index: 9;
    background-color: white;
    display: none;
}

@media screen and (max-width: 991px) {
  .header ul li  a{
    font-size: 13px;
  }
  .footer img{
    margin: 0 auto;
  }
  .wrap-about-us .left-side{
    display: none;
  }
  .sticky-tablet{
    display: block;
  }
  .right-side h2{
    /*display: none;*/
    padding-top: 0;
    margin-top: 0;
  }
}
@media screen and (min-width: 768px) {
  .clear{
    clear: none;
  }
}


/*MOBILE NAVBAR*/

.stickeyy {
  box-sizing: inherit;
}
.pn-ProductNav_Wrapper {
  position: relative;
  padding: 0 15px;
  box-sizing: border-box;
}
.pn-ProductNav {
  /* Make this scrollable when needed */
  overflow-x: auto;
  /* We don't want vertical scrolling */
  overflow-y: hidden;
  /* For WebKit implementations, provide inertia scrolling */
  -webkit-overflow-scrolling: touch;
  /* We don't want internal inline elements to wrap */
  white-space: nowrap;
  /* If JS present, let's hide the default scrollbar */
  /* positioning context for advancers */
  position: relative;
  font-size: 0;
}
.js .pn-ProductNav {
  /* Make an auto-hiding scroller for the 3 people using a IE */
  -ms-overflow-style: -ms-autohiding-scrollbar;
  /* Remove the default scrollbar for WebKit implementations */
}
.js .pn-ProductNav::-webkit-scrollbar {
  display: none;
}
.pn-ProductNav_Contents {
  float: left;
  transition: transform 0.2s ease-in-out;
  position: relative;
}
.pn-ProductNav_Contents-no-transition {
  transition: none;
}
.pn-ProductNav_Link {
  text-decoration: none;
  color: #888;
  font-size: 16px;
  font-family: -apple-system, sans-serif;
  display: inline-flex;
  align-items: center;
  min-height: 44px;
  border: 1px solid transparent;
  padding: 0 21px;
  /*margin-top: 7px;*/
}
.pn-ProductNav_Link + .pn-ProductNav_Link {
  border-left-color: #eee;
}
.pn-ProductNav_Link[aria-selected="true"] {
  color: #111;
}
.pn-Advancer {
  /* Reset the button */
  appearance: none;
  background: transparent;
  padding: 0;
  border: 0;
  /* Now style it as needed */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  /* Set the buttons invisible by default */
  opacity: 0;
  transition: opacity 0.3s;
}
.pn-Advancer:focus {
  outline: 0;
}
.pn-Advancer:hover {
  cursor: pointer;
}
.pn-Advancer_Left {
  left: 0;
}
[data-overflowing="both"] ~ .pn-Advancer_Left, [data-overflowing="left"] ~ .pn-Advancer_Left {
  opacity: 1;
}
.pn-Advancer_Right {
  right: 0;
}
[data-overflowing="both"] ~ .pn-Advancer_Right, [data-overflowing="right"] ~ .pn-Advancer_Right {
  opacity: 1;
}
.pn-Advancer_Icon {
  width: 10px;
  height: auto;
  fill: #bbb;
}
.pn-ProductNav_Indicator {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100px;
  background-color: transparent;
  transform-origin: 0 0;
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.header{
  width: 100%;
  padding: 5px 0;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out; 
  z-index: 9999;
  top: 0;
  position: fixed;
}

.shrink{
  padding: 0px;
}
.second-logo{
  /*display: none;*/
}


.nav-down {
    position: fixed;
    top: 0;
    transition: top 0.2s ease-in-out;
    width: 100%;
}

.nav-up {
  top: -65px;
  position: fixed;
  transition: top 0.2s ease-in-out;
}

.second-nav-down{
  transition: top .2s ease-in-out;
  width: 100%;
}
.second-nav-up {
  top: 0px;
}







/*SLIDER TEAM*/

.slider-team{
  display: none;
}
.inner-slider-team{
  margin: 10px;
  background-image: linear-gradient(lightgray, white);
}
.slider-team .img-team{
  background-image: url(images/girl-work.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 200px;
}

.slider-team .text-team{
  padding: 20px 30px;
}
.slider-team .text-team span{
  font-size: 11px;
  text-transform: uppercase;
  /* background: #ebebeb; */
  background: rgba(0, 0, 0, .07);
  padding: 8px 10px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 100px;
  margin-bottom: 7px;
  margin-right: 3px;
}
.slider-team .text-team h5{
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 25px;
  padding-bottom: 25px;
  height: 100px;
}
.slick-prev.slick-arrow{
  position: absolute;
  border-radius: 50%;
  border-style: unset;
  vertical-align: middle;
  width: 75px;
  height: 75px;
  color: #41edbb;
  background: lightgray;
  border-radius: 50%;
  overflow: hidden;
  line-height: 75px;
  text-align: center;
  cursor: pointer;
  margin-left: 15px;
  transition: all .4s;
  right: 100px;
  bottom: 0px;
  color: #C0392B;
}
.slider-team{
  display: none;
}
.slick-next.slick-arrow{
  position: absolute;
  border-radius: 50%;
  border-style: unset;
  vertical-align: middle;
  width: 75px;
  height: 75px;
  background: lightgray;
  border-radius: 50%;
  overflow: hidden;
  line-height: 75px;
  text-align: center;
  cursor: pointer;
  margin-left: 15px;
  transition: all .4s;
  right: 10px;
  bottom: 0px;
  color: #C0392B;
}
.slick-arrow:hover{
  color: lightgray;
  background-color: #C0392B;
}
.slider-team .slick-arrow:active{
  border-style: unset;
}
.slider-team .slick-arrow:focus,
.slider-team div:focus {
    outline: 0;
}
.slider-team.slick-initialized.slick-slider{
  padding-bottom: 80px;
}
.slick-prev::before {
    content: "<";
    font-size: 36px;
}
.slick-next::before {
    content: ">";
    font-size: 36px;
}
.slick-arrow{
 font-size: 0;
}
