.clear{
  clear: both;
}
a{
  text-decoration: none !important;
}
.header{
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}
.header ul li a{
  padding-top: 22px;
  padding-bottom: 13px;
}
.header .logo{
  padding: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 143px;
  height: 61px;
}
.header img{
  width: 100%;
  height: 100%;
}
.header img:hover{
  cursor: pointer;
}
.header ul li a{
  border-bottom: 5px solid transparent;
  transition: 0.3s;
  letter-spacing: 0.6px;
  font-weight: bold;
  font-size: 16px;
  font-family: Segoe Script, sans-serif;
}
.header ul li a:hover{
  border-bottom: 5px solid #C0392B;
}
.header ul .active a{
  background-color: #C0392B !important;
}
#mynavbar{
  width: 100%;
  text-align: center !important;
}
.wrap-about-us{
  margin-top: 61px;
}

/*FOOTER*/
.footer{
  background-color: #222222;
  padding-top: 15px;
  padding-bottom: 15px;
  /*padding-bottom: 70px;*/
  color: lightgray;
  height: 120vh;
}
.footer img{
  width: 143px;
  height: 51px;
  margin-bottom: 20px;
}
.footer p{
  /*padding-top: 10px;*/
}
.footer i{
  color: #C0392B;
  margin-right: 10px;
}
.footer .border-bottom{
  border-bottom: 2px solid #C0392B;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.footer .copyright{
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .copyright a{
  text-decoration: none;
}
.footer .copyright i{
  font-size: 24px;
  color: white;
  transition: 0.3s;
}
.footer .copyright i:hover{
  color: #C0392B;
  transform: scale(1.2);
}
.footer ul{
  list-style: none;
  padding: 0;
  padding-top: 5px;
}
.footer ul li{
  height: 23px;
  cursor: pointer;
  transition: 0.3s;
}
.footer ul li:hover{
  color: #C0392B;
  font-size: 16px;
}
.footer ul a{
  text-decoration: none;
  color: lightgray;
}

/*BUTTON TO TOP*/

.top-button i{
  color: white;
  position: fixed;
  right: 40px;
  bottom: 40px;
  background-color: #222222;
  padding: 10px;
  border-radius: 7px;
  z-index: 999;
}
.top-button:hover i{
  background-color: #C0392B;
  cursor: pointer; #222222;
}
.hideme{
  opacity: 0;
}


/*LEFT SIDE*/

.left-side{
	padding: 0;
}
.left-side ul{
	padding-left: 0;
	margin: 0;
	height: 100%;
	/*position: fixed;*/
	/*width: 19%;*/
	/*padding-top:40px;*/
	/*padding-left: 40px;*/
	border-radius: 10px;
  z-index: 1;
}
.left-side ul li{
	list-style: none;
	font-size: 15px;
	cursor: pointer;
	color: lightgray;
	border-left: 20px solid #222222;
	letter-spacing: 1px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 15px;
	background-color: #222222;
	transition: 0.4s;
}
.left-side ul li:hover{
	background-color: #C0392B;
	border-left: 20px solid #C0392B;
}
.left-side ul li i{
	padding-top: 3px;
}
.wrap-about-us .left-side ul .active-right-side{
	border-left: 20px solid #C0392B;
	padding-left: 10px;
}





/*RIGHT SIDE*/
.display-none{
	display: none;
	transition: 0.4s;
}
.display-block{
	display: block;
	transition: 0.4s;
}
.right-side h2{
  border-bottom: 2px solid #C0392B;
  padding:13px;
  padding-left: 25px;
}
.right-side i{
  transition: 0.3s;
  border: 2px solid white;
  border-radius: 50%;
  padding: 10px;
  color: white !important;
  margin: 5px 3px 0 3px;
}
.right-side i:hover{
  transform: scale(1.2);
  border: 2px solid #C0392B;
}


/*OUR TEAM*/
#our-team div img{
  width: 100%;
}
#our-team .col-md-3{
  padding: 15px;
}
#our-team .person{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 180px;
  width: 180px;
  cursor: pointer;
  border-radius: 50%;
}
#our-team .overlay{
  height: 180px;
  width: 180px;
  z-index: 1;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 50%;
  padding-top: 20px;
}
#our-team .overlay div{
  opacity: 0;
}
#our-team .overlay:hover div{
  opacity: 1;
  color: white;
}
#our-team .overlay:hover{
  background-color: rgba(2,2,2,0.7);
}
#our-team div .color-h4{
  color: #C0392B;
  letter-spacing: 1px;
}
#our-team .person1{
  background-image: url(images/person1.jpg);
}
#our-team .person2{
  background-image: url(images/person8.jpg);
}
#our-team .person3{
  background-image: url(images/person3.jpg);
}
#our-team .person4{
  background-image: url(images/person4.jpg);
}
#our-team .person5{
  background-image: url(images/person2.jpg);
}
#our-team .person6{
  background-image: url(images/person6.jpg);
}
#our-team .person7{
  background-image: url(images/person7.jpg);
}
#our-team .person8{
  background-image: url(images/person8.jpg);
}
/*OUR SKILLS*/
.panel-heading{
  cursor: pointer;
}
#accordion .right{
  width: 2px;
  height: 11px;
  background-color: black;
  transform: rotate(40deg);
  margin-right: 4px;
  margin-top: 3px;
  transition: 0.4s;
}
#accordion .left{
  width: 2px;
  height: 11px;
  background-color: black;
  transform: rotate(320deg);
  margin-right: 4px;
  margin-top: 3px;
  transition: 0.4s;
}
.active-panel-body-right{
  transform: rotate(140deg)!important;
}
.active-panel-body-left{
  transform: rotate(220deg)!important;
}
.background-panel-title{
  background-color: #C0392B !important;
  color: white !important;
}

/*PROGRESS BAR*/
.progress{
  height: 40px;
}
.background-progress-bar{
  background-image: linear-gradient(to right, #222222 , #C0392B);
  font-size: 18px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Titillium Web, sans-serif;
  border-radius: 5px;
}
.progress .background-progress-bar p:nth-child(1) {
    color:  lightgray;
}
.progress .background-progress-bar p:nth-child(2) {
    padding-right: 10px;
    color:  lightgray;
}
.progress-percent{
  opacity: 0;
}




@media screen and (max-width: 991px) {
  .header ul li  a{
    font-size: 10px;
  }
  .footer img{
    margin: 0 auto;
  }
}
/*.person2{
  height: 3000px;
}*/

#our-team .col-md-3{
  display: none;
}


#offices{
  height: 700px;
}

#partners{
  height: 700px;
}

#our-business{
  height: 700px;
}

.sticky{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 61px 50px;
}


}
@media screen and (max-width: 2200px) {
  .modul-box .even-model div{
    left: 10.3vh;
  }
}
@media screen and (max-width: 1440px) {
  .modul-box .even-model div{
    left: 9.3vh;
  }
}
@media screen and (max-width: 1380px) {
  .modul-box .even-model div{
    left: 12vh;
    width: 22vh;
  }
}
/*DODADENO*/
@media screen and (max-width: 1321px) {
  .modul-box .even-model div{
    left: 13.5vh;
    width: 25vh;
  }
}
@media screen and (max-width: 1321px) {
  .modul-box .even-model div{
    left: 13.5vh;
    width: 25vh;
  }
}

@media screen and (max-width: 1199px) {
  .text-bottom-modul div{
    width: 21%;
    margin-right: -144px;
  }
}

@media screen and (max-width: 1000px) {
  .display-none-tablet{
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .header ul li  a{
    font-size: 10px;
  }
  .footer img{
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .clear{
    clear: none;
  }
}