.clear{
  clear: both;
}
a{
  text-decoration: none !important;
}
.header ul li a{
	padding-top: 22px;
	padding-bottom: 13px;
}
.header .logo{
	padding: 0;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 143px;
	height: 61px;
}
.header img{
	width: 100%;
	height: 100%;
}
.header img:hover{
	cursor: pointer;
}
.header ul li a{
	border-bottom: 5px solid transparent;
	transition: 0.3s;
	letter-spacing: 0.6px;
	font-weight: bold;
	font-size: 16px;
	font-family: Segoe Script, sans-serif;
}
.header ul li a:hover{
	border-bottom: 5px solid #C0392B;
}
.header ul .active a{
  background-color: #C0392B !important;
}

/*FOOTER*/

.footer{
  background-color: #222222;
  padding-top: 70px;
  /*padding-bottom: 70px;*/
  color: lightgray;
}
.footer img{
  width: 143px;
  height: 51px;
  margin-bottom: 20px;
}
.footer p{
  padding-top: 15px;
}
.footer i{
  color: #C0392B;
  margin-right: 10px;
}
.footer .border-bottom{
  border-bottom: 2px solid #C0392B;
  padding-bottom: 15px;
}
.footer .copyright{
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer .copyright a{
  text-decoration: none;
  margin-right: 10px;
}
.footer .copyright i{
  font-size: 24px;
  color: white;
  transition: 0.4s;
  float: right;
}
.footer .copyright i:hover{
  color: #C0392B;
  transform: scale(1.2);
}


.how-we-work-bg{
  background-image: url("it.jpg");
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  padding: 0px;
}
.how-we-work-overlay{
  width: 100%;
  background-color: rgba(0,0,0,0.7);
  height: 280px;
  z-index: 1;
}
.how-we-work-bg .how-we-work-overlay h1{
  font-size: 40px;
  letter-spacing: 1px;
  color: white;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-left: 10%;
  padding-right: 10%;
  border-bottom: 2px solid #C0392B;
  padding: 19px 50px;
  margin: 0;
}
.how-we-work-bg .how-we-work-overlay h1 span{
	font-weight: 100;
	font-size: 40px;
	color: #C0392B;
}
.border-bottom-h1{
  width: 20vh;
  height: 5px;
  background-color: #C0392B;
  position: absolute;
  top: 71%;
  left: 50%;
  transform: translateX(-50%);
}

/*BUTTON TO TOP*/

.top-button i{
  color: white;
  position: fixed;
  right: 40px;
  bottom: 40px;
  background-color: #222222;
  padding: 10px;
  border-radius: 7px;
  z-index: 999;
}
.top-button:hover i{
  background-color: #C0392B;
  cursor: pointer; #222222;
}
.hideme{
  opacity: 0;
}


/*LEFT SIDE*/

.left-side{
	padding: 0;
}
.left-side ul{
	padding-left: 0;
	margin: 0;
	height: 100%;
	/*position: fixed;*/
	/*width: 19%;*/
	/*padding-top:40px;*/
	/*padding-left: 40px;*/
	border-radius: 10px;
  z-index: 1;
}
.left-side ul li{
	list-style: none;
	font-size: 15px;
	cursor: pointer;
	color: lightgray;
	border-left: 20px solid #222222;
	letter-spacing: 1px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 15px;
	background-color: #222222;
	transition: 0.4s;
}
.left-side ul li:hover{
	background-color: #C0392B;
	border-left: 20px solid #C0392B;
}
.left-side ul li i{
	padding-top: 3px;
}
.wrap-about-us .left-side ul .active-right-side{
	border-left: 20px solid #C0392B;
	padding-left: 10px;
}





/*RIGHT SIDE*/
.display-none{
	display: none;
	transition: 0.4s;
}
.display-block{
	display: block;
	transition: 0.4s;
}
.right-side h1{
  border-bottom: 2px solid #C0392B;
  padding:13px;
  padding-left: 25px;
}
.right-side i{
  transition: 0.3s;
  border: 2px solid white;
  border-radius: 50%;
  padding: 10px;
  color: white !important;
  margin: 5px 3px 0 3px;
}
.right-side i:hover{
  transform: scale(1.2);
  border: 2px solid #C0392B;
}


/*OUR TEAM*/
#our-team div img{
  width: 100%;
}
#our-team .col-md-3{
  padding: 15px;
}
#our-team .person{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  cursor: pointer;
  border-radius: 50%;
}
#our-team .overlay{
  height: 250px;
  width: 100%;
  z-index: 1;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 50%;
  padding-top: 20px;
}
#our-team .overlay div{
  opacity: 0;
}
#our-team .overlay:hover div{
  opacity: 1;
  color: white;
}
#our-team .overlay:hover{
  background-color: rgba(2,2,2,0.7);
}
#our-team div .color-h4{
  color: #C0392B;
  letter-spacing: 1px;
}
#our-team .person1{
  background-image: url(images/person1.jpg);
}
#our-team .person2{
  background-image: url(images/person8.jpg);
}
#our-team .person3{
  background-image: url(images/person3.jpg);
}
#our-team .person4{
  background-image: url(images/person4.jpg);
}
#our-team .person5{
  background-image: url(images/person2.jpg);
}
#our-team .person6{
  background-image: url(images/person6.jpg);
}
#our-team .person7{
  background-image: url(images/person7.jpg);
}
#our-team .person8{
  background-image: url(images/person8.jpg);
}
/*OUR SKILLS*/
.panel-heading{
  cursor: pointer;
}
#accordion .right{
  width: 2px;
  height: 11px;
  background-color: black;
  transform: rotate(40deg);
  margin-right: 4px;
  margin-top: 3px;
  transition: 0.4s;
}
#accordion .left{
  width: 2px;
  height: 11px;
  background-color: black;
  transform: rotate(320deg);
  margin-right: 4px;
  margin-top: 3px;
  transition: 0.4s;
}
.active-panel-body-right{
  transform: rotate(140deg)!important;
}
.active-panel-body-left{
  transform: rotate(220deg)!important;
}
.background-panel-title{
  background-color: #C0392B !important;
  color: white !important;
}

/*PROGRESS BAR*/
.progress{
  height: 40px;
}
.background-progress-bar{
  background-image: linear-gradient(to right, #222222 , #C0392B);
  font-size: 18px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Titillium Web, sans-serif;
  border-radius: 5px;
}
.progress .background-progress-bar p:nth-child(1) {
    color:  lightgray;
}
.progress .background-progress-bar p:nth-child(2) {
    padding-right: 10px;
    color:  lightgray;
}
.progress-percent{
  opacity: 0;
}




@media screen and (max-width: 991px) {
  .header ul li  a{
    font-size: 10px;
  }
  .footer .border-bottom{
    text-align: center;
  }
  .footer img{
    margin: 0 auto;
  }
  .footer #map{
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
/*.person2{
  height: 3000px;
}*/

#our-team .col-md-3{
  display: none;
}
.row .text-center{
  height: 280px;
}


#offices{
  height: 700px;
}

#partners{
  height: 700px;
}

#our-business{
  height: 700px;
}

.sticky{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 30px 50px;
}


/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #222222;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #C0392B; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #C0392B;
}




/*MODUL*/

.modul-box-container{
  height: 600px;
}
.modul .modul-box{
  width: 14.28%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  float: left;
}
.header-box{
  flex: 1;
  display: flex;
  align-items: flex-end;
  margin-bottom: -55px;
}
.modul .center-box .horizontal-line i{
  cursor: pointer;
}
.header-box div{
  height: 130px;
  /*text-align: center;*/
}
.modul-box .even-model{
  position: relative;
}
.modul-box .even-model div{
  position: absolute;
  width: 18vh;
  left: 11.5vh;
}
.center-box{
  flex: 1;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}
.center-box i{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*padding: 13px;*/
  color: white;
  z-index: 1;display: flex;
   justify-content: center;
   align-items: center;
}
.footer-box{
  flex: 1;
  height: 130px;
  /*text-align: center;*/
}

.horizontal-line{
  width: 100%;
  height: 2px;
  background-color: black;
  position: relative;
}
.starting-point{
  width: 8px;
  height: 8px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.finish-point{
  width: 8px;
  height: 8px;
  position: absolute;
  right: 0%;
  top: 50%;
  transform: translateY(-50%);
}
.vertical-line-down{
  width: 2px;
  height: 80px;
  position: absolute;
  right: 0;
  left: 50%;
  transform: translateX(-50%);
}
.point-down{
  width: 8px;
  height: 8px;
  position: absolute;
  bottom: 0%;
  right: 50%;
  transform: translateX(50%);
}
.vertical-line-up{
  width: 120px;
  height: 2px;
  position: absolute;
  left: 50%;
  bottom: 60px;
  transform: translateX(-50%) rotate(90deg);
}
.point-up{
  width: 8px;
  height: 8px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.right-line{
  width: 2px;
  height: 40px;
  background-color: #C2C200;
  position: absolute;
  bottom: 100%;
}
.modul h4{
  font-weight: bold;
  color: #616161;
}
.modul small{
  font-size: 14px;
  color: #787878;
}

/*COLORS FOR MODUL*/

/*TURQUOISE*/
.modul-1{
  background-color: #56ccc8;
}

/*GREEN*/
.modul-2{
  background-color: #C2C200;
}

/*ORANGE*/
.modul-3{
  background-color: #DD8F5A;
}
/*CORAL*/
.modul-4{
  background-color: #EA6060;
}

/*LIGHTBLUE*/
.modul-5{
  background-color: #88BAEA;
}

/*LIGHTBROWN*/
.modul-6{
  background-color: #DDB06C;
}

/*DARKBROWN*/
.modul-7{
  background-color: #775555;
  /*font-size: 21px;*/
}
.bg-gray{
  background-color: #C5CDD1;
  transition: 0.4s;
}


}
@media screen and (max-width: 2200px) {
  .modul-box .even-model div{
    left: 10.3vh;
  }
}
@media screen and (max-width: 1440px) {
  .modul-box .even-model div{
    left: 9.3vh;
  }
}
@media screen and (max-width: 1380px) {
  .modul-box .even-model div{
    left: 12vh;
    width: 22vh;
  }
}
/*DODADENO*/
@media screen and (max-width: 1321px) {
  .modul-box .even-model div{
    left: 13.5vh;
    width: 25vh;
  }
}
@media screen and (max-width: 1321px) {
  .modul-box .even-model div{
    left: 13.5vh;
    width: 25vh;
  }
}

@media screen and (max-width: 1199px) {
  .text-bottom-modul div{
    width: 21%;
    margin-right: -144px;
  }
}

@media screen and (max-width: 1000px) {
  .display-none-tablet{
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .header ul li  a{
    font-size: 10px;
  }
  .footer .border-bottom{
    text-align: center;
  }
  .footer img{
    margin: 0 auto;
  }
  .footer #map{
    padding-top: 20px;
    padding-bottom: 20px;
  }
}