@font-face {
  font-family: Segoe Script;
  src: url(fonts/segoesc.ttf);
}
.clear{
  clear: both;
}
a{
  text-decoration: none !important;
}
.header{
  position: fixed;
  top: 0;
  z-index: 11;
  width: 100%;
}
.header ul li a{
  padding-top: 21px;
}
.header .logo{
  padding: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 143px;
  height: 61px;
}
.header img{
  width: 100%;
  height: 100%;
}
.header img:hover{
  cursor: pointer;
}
.header ul li a{
  border-bottom: 5px solid transparent;
  transition: 0.3s;
  letter-spacing: 0.6px;
  font-weight: bold;
  font-size: 16px;
  font-family: Segoe Script, sans-serif;
}
.header ul li a:hover{
  border-bottom: 5px solid #C0392B;
}
.header ul .active a{
  background-color: #C0392B !important;
}
#mynavbar{
  width: 100%;
  text-align: center !important;
}
.career{
  padding-top: 61px;
}

/*FOOTER*/
.footer{
  background-color: #222222;
  padding-top: 15px;
  padding-bottom: 15px;
  /*padding-bottom: 70px;*/
  color: lightgray;
}
.footer img{
  width: 143px;
  height: 51px;
  margin-bottom: 20px;
}
.footer p{
  /*padding-top: 10px;*/
}
.footer i{
  color: #C0392B;
  margin-right: 10px;
}
.footer .border-bottom{
  border-bottom: 2px solid #C0392B;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.footer .copyright{
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .copyright a{
  text-decoration: none;
}
.footer .copyright i{
  font-size: 24px;
  color: white;
  transition: 0.3s;
}
.footer .copyright i:hover{
  color: #C0392B;
  transform: scale(1.2);
}
.footer ul{
  list-style: none;
  padding: 0;
  padding-top: 5px;
}
.footer ul li{
  height: 23px;
  cursor: pointer;
  transition: 0.3s;
}
.footer ul li:hover{
  color: #C0392B;
  font-size: 16px;
}
.footer ul a{
  text-decoration: none;
  color: lightgray;
}

/*BUTTON TO TOP*/

.top-button i{
  color: white;
  position: fixed;
  right: 40px;
  bottom: 40px;
  background-color: #222222;
  padding: 10px;
  border-radius: 7px;
  z-index: 999;
}
.top-button:hover i{
  background-color: #C0392B;
  cursor: pointer; #222222;
}
.hideme{
  /*opacity: 0;*/
}

.pd-70px{
  padding-top: 15px;
  padding-bottom: 20px;
}
.career h2{
  border-bottom: 2px solid #C0392B;
  padding-top: 13px;
  padding-bottom: 18px;
}
.paragraph-career{
  line-height: 30px;
  letter-spacing: 1px;
}
/*CAREER LEFT*/
.career .career-left .pd-box{
  padding: 10px;
}
.career .career-left .career-box{
  padding: 30px 35px;
  -webkit-box-shadow: 0px 0px 14px -1px rgba(0,0,0,0.42);
  -moz-box-shadow: 0px 0px 14px -1px rgba(0,0,0,0.42);
  box-shadow: 0px 0px 14px -1px rgba(0,0,0,0.42);
  transition: 0.3s;
}
.career .career-left .career-box:hover{
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 14px -1px rgba(192,57,43,1);
  -moz-box-shadow: 0px 0px 14px -1px rgba(192,57,43,1);
  box-shadow: 0px 0px 14px -1px rgba(192,57,43,1);
}
.career .career-left .career-box h3{
  color: black;
  transition: 0.3s;
}
.career .career-left .career-box:hover h3{
  color: #C0392B;
}
.shadow-paragraph{
  overflow: hidden;
  max-height: 80px;
}
.career .career-left .career-box p{
  line-height: 20px;
}
.career .career-left .career-box h3{
  font-weight: bold;
}

.career .career-left .career-box:after {
    content: '';
    position: absolute;
    bottom: 0px;
    height: 100px;
    left: 10px;
    right: 10px;
    background: -webkit-linear-gradient(rgba(255,255,255,0) 0%, #fff 60%);
    background: -moz-linear-gradient(rgba(255,255,255,0) 0%, #fff 60%);
    background: -o-linear-gradient(rgba(255,255,255,0) 0%, #fff 60%);
    background: -ms-linear-gradient(rgba(255,255,255,0) 0%, #fff 60%);
    background: linear-gradient(rgba(255,255,255,0) 0%, #fff 60%);
    display: block;
    z-index: 1;
}

/*CAREER RIGHT*/
.career .career-right button{
  background-color: #222222;
  color: white;
  transition: 0.2s;
  font-weight: bold;
  letter-spacing: 1px;
}
.career .career-right button:hover{
  background-color: #C0392B;
  color: white;
}



@media screen and (max-width: 991px) {
  .header ul li  a{
    font-size: 13px;
  }
  .footer .border-bottom{
    text-align: center;
  }
  .footer img{
    margin: 0 auto;
  }
}

/*INPUTS*/
.input-holder {
  position: relative;
}
.input {
  font-size: 14px;
  padding: 10px 15px;
  border-radius: 4px;
  border: 1px solid lightgray;
  width: 100%;
  outline: none;
}
.input:not(:placeholder-shown).input:not(:focus) {
  border: 1px solid lightgray;
}
.input:not(:placeholder-shown).input:not(:focus) + .placeholder {
  transform: scale(0.75) translateY(-26px) translateX(-5px);
  color: grey;
}
.input:not(:placeholder-shown).input:not(:focus).input:not(:valid) {
  border: 1px solid lightgray;
}
.input:not(:placeholder-shown).input:not(:focus).input:not(:valid) + .placeholder {
  transform: scale(0.75) translateY(-26px) translateX(-5px);
  color: lightgray;
}
.input:not(:placeholder-shown).input:not(:focus).input:not(:valid) + .placeholder + .error {
  visibility: visible;
}
.input:focus {
  border-color: #C0392B;
}
.input:focus + .placeholder {
  transform: scale(0.75) translateY(-26px) translateX(-5px);
  color: #C0392B;
}
.placeholder {
  position: absolute;
  top: 14%;
  left: 8px;
  padding: 0 8px;
  background-color: white;
  transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1), opacity 150ms cubic-bezier(0.4, 0, 0.2, 1);
  color: grey;
  font-size: 14px;
  pointer-events: none;
}
.error {
  visibility: hidden;
  color: #C0392B;
  padding: 5px 0;
  font-weight: 300;
  font-size: 12px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.holder textarea{
  resize: none;
}
.holder .placeholder-textarea{
  top: 5%;
}
.dropdown.input-holder .placeholder{
  display: none;
}

.dropdown.input-holder:focus .placeholder{
  display: block !important;
}

@media screen and (min-width: 768px) {
  .clear{
    clear: none;
  }
}