.clear{
  clear: both;
}
a{
  text-decoration: none !important;
}
.header ul li a{
	padding-top: 22px;
	padding-bottom: 13px;
}
.header .logo{
	padding: 0;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 143px;
	height: 61px;
}
.header img{
	width: 100%;
	height: 100%;
}
.header img:hover{
	cursor: pointer;
}
.header ul li a{
	border-bottom: 5px solid transparent;
	transition: 0.3s;
	letter-spacing: 0.6px;
	font-weight: bold;
	font-size: 16px;
	font-family: Segoe Script, sans-serif;
}
.header ul li a:hover{
	border-bottom: 5px solid #C0392B;
}
.header ul .active a{
  background-color: #C0392B !important;
}

/*FOOTER*/

.footer{
  background-color: #222222;
  padding-top: 70px;
  color: lightgray;
}
.footer img{
  width: 143px;
  height: 51px;
  margin-bottom: 20px;
}
.footer p{
  padding-top: 15px;
}
.footer i{
  color: #C0392B;
  margin-right: 10px;
}
.footer .border-bottom{
  border-bottom: 2px solid #C0392B;
  padding-bottom: 15px;
}
.footer .copyright{
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer .copyright a{
  text-decoration: none;
  margin-right: 10px;
}
.footer .copyright i{
  font-size: 24px;
  color: white;
  transition: 0.4s;
  float: right;
}
.footer .copyright i:hover{
  color: #C0392B;
  transform: scale(1.2);
}

/*BUTTON TO TOP*/

.top-button i{
  color: white;
  position: fixed;
  right: 40px;
  bottom: 40px;
  background-color: #222222;
  padding: 10px;
  border-radius: 7px;
  z-index: 999;
}
.top-button:hover i{
  background-color: #C0392B;
  cursor: pointer; #222222;
}
.hideme{
  /*opacity: 0;*/
}

.career{
  padding top: 70px;
}
.pd-70px{
  padding-top: 30px;
  padding-bottom: 70px;
}
.pd-top-70px{
  padding-top: 50px;
}
.career h2{
  border-bottom: 2px solid #C0392B;
  padding-bottom: 18px;
}
.paragraph-career{
  line-height: 30px;
  letter-spacing: 1px;
}
/*CAREER LEFT*/
.career .career-left .pd-box{
  padding: 10px;
}
.career .career-left .career-box{
  padding: 30px 35px;
  -webkit-box-shadow: 0px 0px 14px -1px rgba(0,0,0,0.42);
  -moz-box-shadow: 0px 0px 14px -1px rgba(0,0,0,0.42);
  box-shadow: 0px 0px 14px -1px rgba(0,0,0,0.42);
  transition: 0.3s;
}
.career .career-left .career-box:hover{
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 14px -1px rgba(192,57,43,1);
  -moz-box-shadow: 0px 0px 14px -1px rgba(192,57,43,1);
  box-shadow: 0px 0px 14px -1px rgba(192,57,43,1);
}
.career .career-left .career-box h3{
  color: black;
  transition: 0.3s;
}
.career .career-left .career-box:hover h3{
  color: #C0392B;
}
.shadow-paragraph{
  overflow: hidden;
  max-height: 80px;
}
.career .career-left .career-box p{
  line-height: 20px;
}
.career .career-left .career-box h3{
  font-weight: bold;
}

.career .career-left .career-box:after {
    content: '';
    position: absolute;
    bottom: 0px;
    height: 100px;
    left: 10px;
    right: 10px;
    background: -webkit-linear-gradient(rgba(255,255,255,0) 0%, #fff 60%);
    background: -moz-linear-gradient(rgba(255,255,255,0) 0%, #fff 60%);
    background: -o-linear-gradient(rgba(255,255,255,0) 0%, #fff 60%);
    background: -ms-linear-gradient(rgba(255,255,255,0) 0%, #fff 60%);
    background: linear-gradient(rgba(255,255,255,0) 0%, #fff 60%);
    display: block;
    z-index: 1;
}

/*CAREER RIGHT*/
.career-right label{
  padding-top: 20px;
  padding-bottom: 5px;
}
.career .career-right button{
  background-color: #222222;
  color: white;
  transition: 0.2s;
  font-weight: bold;
  letter-spacing: 1px;
}
.career .career-right button:hover{
  background-color: #C0392B;
  color: white;
}



@media screen and (max-width: 991px) {
  .header ul li  a{
    font-size: 10px;
  }
  .footer .border-bottom{
    text-align: center;
  }
  .footer img{
    margin: 0 auto;
  }
  .footer #map{
    padding-top: 20px;
    padding-bottom: 20px;
  }
}