.clear{
  clear: both;
}
a{
  text-decoration: none !important;
}
.header{
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  padding: 0 !important;
}
.navbar-brand{
  padding: 0 15px;
}
.header .logo{
  padding-top: 5px;
  width: 173px;
  height: 100%;
}
.header img{
  width: 100%;
  height: 60px;
  padding: 4px 0px;
}
.header img:hover{
  cursor: pointer;
}
.header ul li a{
  transition: 0.3s;
  letter-spacing: 0.6px;
  font-weight: bold;
  font-size: 16px;
  color: white !important;
}
.header ul li{
  border-bottom: 5px solid transparent;
  border-top: 5px solid transparent;
  padding: 5px 0;
}
.header ul li:hover{
  border-bottom: 5px solid #C0392B;
}

.header ul .active a{
  background-color: transparent !important;
  color: #C0392B !important;
}
#mynavbar{
  width: 100%;
  text-align: center !important;
}
.wrap-about-us{
  margin-top: 80px;
}
.shrink{
  padding: 0px;
}
.nav-down {
  position: fixed;
  top: 0;
  transition: top 0.2s ease-in-out;
  width: 100%;
}

.nav-up {
  top: -65px;
  position: fixed;
  transition: top 0.2s ease-in-out;
}

.second-nav-down{
  transition: top .2s ease-in-out;
  width: 100%;
}
.second-nav-up {
  top: 0px;
}
@media screen and (max-width: 767px) {
  .header ul li{
    padding: 0;
  }
  .header img {
    padding: 2px 20px 2px 0px;
    height: 45px;
  }
  .header .logo{
    padding: 0;
    padding: 2.5px 7px;
  }
  .header #mynavbar ul {
    display: inline-block;
  }
}

/*FOOTER*/
.footer{
  background-color: #222222;
  padding-top: 15px;
  padding-bottom: 15px;
  color: lightgray;
}
.footer img{
  width: 143px;
  height: 51px;
  margin-bottom: 20px;
}
.footer i{
  color: #C0392B;
  margin-right: 10px;
  margin-left: 10px;
}
.footer .border-bottom{
  border-bottom: 2px solid #C0392B;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.footer .copyright{
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .copyright a{
  text-decoration: none;
}
.footer .copyright i{
  font-size: 24px;
  color: white;
  transition: 0.3s;
}
.footer .copyright i:hover{
  color: #C0392B;
  transform: scale(1.2);
}
.footer ul{
  list-style: none;
  padding: 0;
  padding-top: 5px;
}
.footer ul li{
  height: 23px;
  cursor: pointer;
  transition: 0.3s;
}
.footer ul li:hover{
  color: #C0392B;
  font-size: 16px;
}
.footer ul a{
  text-decoration: none;
  color: lightgray;
}

.contact{
  margin-top: 50px;
}
@media screen and (max-width: 991px) {
  .header ul li  a{
    font-size: 13px;
  }
  .footer .border-bottom{
    text-align: center;
  }
  .footer img{
    margin: 0 auto;
  }
  .footer #map{
    padding-top: 20px;
    padding-bottom: 20px;
  }
}


.input-holder {
  position: relative;
}
.input {
  font-size: 14px;
  padding: 10px 15px;
  border-radius: 4px;
  border: 1px solid lightgray;
  width: 100%;
  outline: none;
}
.input:not(:placeholder-shown).input:not(:focus) {
  border: 1px solid lightgray;
}
.input:not(:placeholder-shown).input:not(:focus) + .placeholder {
  transform: scale(0.75) translateY(-26px) translateX(-5px);
  color: grey;
}
.input:not(:placeholder-shown).input:not(:focus).input:not(:valid) {
  border: 1px solid lightgray;
}
.input:not(:placeholder-shown).input:not(:focus).input:not(:valid) + .placeholder {
  transform: scale(0.75) translateY(-26px) translateX(-5px);
  color: lightgray;
}
.input:not(:placeholder-shown).input:not(:focus).input:not(:valid) + .placeholder + .error {
  visibility: visible;
}
.input:focus {
  border-color: #C0392B;
}
.input:focus + .placeholder {
  transform: scale(0.75) translateY(-26px) translateX(-5px);
  color: #C0392B;
}
.placeholder {
  position: absolute;
  top: 14%;
  left: 8px;
  padding: 0 8px;
  background-color: white;
  transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1), opacity 150ms cubic-bezier(0.4, 0, 0.2, 1);
  color: grey;
  font-size: 14px;
  pointer-events: none;
}
.error {
  visibility: hidden;
  color: #C0392B;
  padding: 5px 0;
  font-weight: 300;
  font-size: 12px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.holder textarea{
  resize: none;
}
.holder .placeholder-textarea{
  top: 5%;
}
.dropdown.input-holder .placeholder{
  display: none;
}

.dropdown.input-holder:focus .placeholder{
  display: block !important;
}
.career-right{
  padding-top: 13px;
}
.career-right button{
  background-color: #222222;
  color: white;
  transition: 0.2s;
  font-weight: bold;
  letter-spacing: 1px;
}
.career-right button:hover{
  background-color: #C0392B;
  color: white;
}

/*MAP*/
#map{
  margin-top: 20px;
  padding-top: 13px;
}
#google-container {
  position: relative;
  width: 100%;
  height: 260px;
}
address{
  padding-top: 20px;
}
#map1 {
  height: 350px;
  border-radius: 5px;
}


@media screen and (min-width: 768px) {
  .clear{
    clear: none;
  }
}
body .container-fluid .contact{
  min-height: calc(100vh - 233px - 50px);
}
.footer {
  height: 233px;
}

@media screen and (max-width: 991px) {
  .header{
    padding: 0;
  }
  .footer{
    position: relative;
    width: auto;
    height: auto;
    text-align: center;
  }
}
