.clear{
  clear: both;
}
.header{
  position: fixed;
  top: 0;
  z-index: 11;
  width: 100%;
}
.header ul li a{
	padding-top: 22px;
  padding-bottom: 13px;
}
.header .logo{
	padding: 0;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 143px;
	height: 61px;
}
.header img{
	width: 100%;
	height: 100%;
}
.header img:hover{
	cursor: pointer;
}
.header ul li a{
	border-bottom: 5px solid transparent;
	transition: 0.3s;
	letter-spacing: 0.6px;
	font-weight: bold;
	font-size: 16px;
	font-family: Segoe Script, sans-serif;
}
.header ul li a:hover{
	border-bottom: 5px solid #C0392B;
}
.header ul .active a{
	background-color: #C0392B !important;
}
#mynavbar{
  width: 100%;
  text-align: center !important;
}


/*CAROUSEL*/
body,
#slider,
.wrap,
.slide-content {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 50vh;
  overflow-x: hidden;
}
.wrap {
  position: relative;
}

.wrap .navigations-images{
  width: 140px;
  height: auto;
  background-color: transparent;
  position: absolute;
  bottom: 6%;
  right: 50%;
  transform: translateX(50%);
  display: flex;
  justify-content: space-between;
  z-index: 2;
}
.wrap .navigations-images div {
  width: 28px;
  height: 10px;
  border-radius: 5px;
  border: 2px solid #C0392B;
  cursor: pointer;
  transition: 0.4s;
}
.wrap .navigations-images div:hover{
  transform: scale(1.2);
}
.active-navigation{
  background-color: #C0392B;
}
.slidee {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.slide1 {
  background-image: url("https://images.pexels.com/photos/1449052/pexels-photo-1449052.jpeg?auto=compress&cs=tinysrgb&h=650&w=940");
}
.slide2 {
  background-image: url("https://images.pexels.com/photos/81363/office-work-desk-computer-81363.jpeg?auto=compress&cs=tinysrgb&h=650&w=940");
}
.slide3 {
  background-image: url("https://images.pexels.com/photos/265152/pexels-photo-265152.jpeg?auto=compress&cs=tinysrgb&h=650&w=940");
}
.slide4 {
  background-image: url("https://images.pexels.com/photos/169573/pexels-photo-169573.jpeg?auto=compress&cs=tinysrgb&h=650&w=940");
}
.box-picture{
  padding-right: 35px;
  background-color: rgba(34,34,34,0.94);
  color: white;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slide-content .left-img-bg{
  background: url("bg-cut-div.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.95;
  height: 100%;
}
.slide-content .right-img-bg{
  background: url("bg-cut-div.png");
  opacity: 0.95;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  transform: rotate3d(0, 1, 0, 180deg);
}
.slide-content .left-bg{
  padding-right: 120px;
  padding-left: 35px;
  background-color: rgba(34,34,34,0.94);
  color: white;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right-bg{
  padding-right: 120px;
  padding-left: 35px;
  background-color: rgba(34,34,34,0.94);
  color: white;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner-box-picture-right{
  padding-left: 100px;
}
.arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 0;
  height: 0;
  border-style: solid;
  z-index: 9999;
  transform: translateY(-50%);
}
#arrow-left {
  border-width: 20px 30px 20px 0;
  border-color: transparent #fff transparent transparent;
  left: 0;
  margin-left: 30px;
}
#arrow-right {
  border-width: 20px 0 20px 30px;
  border-color: transparent transparent transparent #fff;
  right: 0;
  margin-right: 30px;
}
#arrow-right:hover{
  border-color: transparent transparent transparent gray;
}
#arrow-left:hover{
  border-color: transparent gray transparent transparent;
}

/*DEVELOPMENT*/
.development{
  /*height: 40vh;*/
/*  padding-top: 20px;
  padding-bottom: 20px;*/
}
.development .box-development div{
  padding: 25px 20px;
}
.development div h3{
  padding-top: 10px;
  color: rgba(34,34,34,0.94);
  font-family: Arial;
  font-weight: bold;
  height: 80px;
  line-height: 35px;
  transition: 0.4s;
}
.development div p{
  line-height: 20px;
  letter-spacing: 0.9px;
  color: rgba(34,34,34,0.7);
}
.development div i{
  border-radius: 50%;
  border: 2px solid rgba(34,34,34,0.94);
  width: 45px;
  height: 45px;
  font-size: 20px;
  color: #C0392B;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  transition: 0.4s;
}
.development .box-development h4{
  padding-top: 10px;
}
.development div p strong{
  color: #C0392B;
}


/*FOOTER*/
.footer{
  background-color: #222222;
  padding-top: 15px;
  padding-bottom: 15px;
  /*padding-bottom: 70px;*/
  color: lightgray;
}
.footer img{
  width: 143px;
  height: 51px;
  margin-bottom: 20px;
}
.footer p{
  /*padding-top: 10px;*/
}
.footer i{
  color: #C0392B;
  margin-right: 10px;
}
.footer .border-bottom{
  border-bottom: 2px solid #C0392B;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.footer .copyright{
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .copyright a{
  text-decoration: none;
}
.footer .copyright i{
  font-size: 24px;
  color: white;
  transition: 0.3s;
}
.footer .copyright i:hover{
  color: #C0392B;
  transform: scale(1.2);
}
.footer ul{
  list-style: none;
  padding: 0;
  padding-top: 5px;
}
.footer ul li{
  height: 23px;
  cursor: pointer;
  transition: 0.3s;
}
.footer ul li:hover{
  color: #C0392B;
  font-size: 16px;
}
.footer ul a{
  text-decoration: none;
  color: lightgray;
}



/*MODUL*/
.modul-box-container{
  height: 480px;
  padding-bottom: 50px;
}
.modul .modul-box{
  width: 14.28%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  float: left;
}
.header-box{
  flex: 1;
  display: flex;
  align-items: flex-end;
  margin-bottom: -55px;
}
.modul .center-box .horizontal-line i{
  cursor: pointer;
}
.header-box div{
  height: 130px;
  /*text-align: center;*/
}
.modul-box .even-model{
  position: relative;
}
.modul-box .even-model div{
  position: absolute;
  width: 18vh;
  left: 11.5vh;
}
.center-box{
  flex: 1;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}
.center-box i{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-box{
  flex: 1;
  height: 130px;
}

.horizontal-line{
  width: 100%;
  height: 2px;
  background-color: black;
  position: relative;
}
.starting-point{
  width: 8px;
  height: 8px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.finish-point{
  width: 8px;
  height: 8px;
  position: absolute;
  right: 0%;
  top: 50%;
  transform: translateY(-50%);
}
.vertical-line-down{
  width: 2px;
  height: 80px;
  position: absolute;
  right: 0;
  left: 50%;
  transform: translateX(-50%);
}
.point-down{
  width: 8px;
  height: 8px;
  position: absolute;
  bottom: 0%;
  right: 50%;
  transform: translateX(50%);
}
.vertical-line-up{
  width: 120px;
  height: 2px;
  position: absolute;
  left: 50%;
  bottom: 60px;
  transform: translateX(-50%) rotate(90deg);
}
.point-up{
  width: 8px;
  height: 8px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.right-line{
  width: 2px;
  height: 40px;
  background-color: #C2C200;
  position: absolute;
  bottom: 100%;
}
.modul h4{
  font-weight: bold;
  color: #616161;
}
.modul small{
  font-size: 14px;
  color: #787878;
}

/*COLORS FOR MODUL*/

/*TURQUOISE*/
.modul-1{
  background-color: #56ccc8;
}

/*GREEN*/
.modul-2{
  background-color: #C2C200;
}

/*ORANGE*/
.modul-3{
  background-color: #DD8F5A;
}
/*CORAL*/
.modul-4{
  background-color: #EA6060;
}

/*LIGHTBLUE*/
.modul-5{
  background-color: #88BAEA;
}

/*LIGHTBROWN*/
.modul-6{
  background-color: #DDB06C;
}

/*DARKBROWN*/
.modul-7{
  background-color: #775555;
  /*font-size: 21px;*/
}

/*BUTTON TO TOP*/

.top-button i{
  color: white;
  position: fixed;
  right: 40px;
  bottom: 40px;
  background-color: #222222;
  padding: 10px;
  border-radius: 7px;
  z-index: 999;
}
.top-button:hover i{
  background-color: #C0392B;
  cursor: pointer; #222222;
}
/*.hideme{
  opacity: 0;
}*/

address{
  padding-top: 20px;
}


@media screen and (max-width: 2200px) {
  .modul-box .even-model div{
    left: 10.3vh;
  }
}
@media screen and (max-width: 1440px) {
  .modul-box .even-model div{
    left: 9.3vh;
  }
}
@media screen and (max-width: 1380px) {
  .modul-box .even-model div{
    left: 12vh;
    width: 22vh;
  }
}
/*DODADENO*/
@media screen and (max-width: 1321px) {
  .modul-box .even-model div{
    left: 13.5vh;
    width: 25vh;
  }
}
@media screen and (max-width: 1321px) {
  .modul-box .even-model div{
    left: 13.5vh;
    width: 25vh;
  }
}

@media screen and (max-width: 1199px) {
  .text-bottom-modul div{
    width: 21%;
    margin-right: -144px;
  }
  #slider .slidee p{
    font-size: 12px;
  }
}

@media screen and (max-width: 1000px) {
  .display-none-tablet{
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .header ul li  a{
    font-size: 14px;
  }
  .footer .border-bottom{
    text-align: center;
  }
  .footer img{
    margin: 0 auto;
  }
  .footer #map{
    padding-top: 20px;
    padding-bottom: 20px;
  }
  #slider .slidee h2{
    font-size: 18px;
  }
  #slider .slidee p{
    font-size: 11px;
  }
  .development .box-development div{
    padding: 10px 20px;
  }
}
@media screen and (min-width: 768px) {
  .clear{
    clear: none;
  }
  /*.slider-tablet{
    display: none;
  }*/
}
@media screen and (max-width: 767px) {
  .slide-content{
    height: 40vh;
  }
  body, #slider, .wrap, .slide-content{
    height: 40vh;
  }
  .slide-content .right-img-bg{
    display: none;
  }
  .inner-box-picture-right,
  .right-bg,
  .box-picture,
  .inner-box-picture-right{
    padding: 0;
  }
  .display-none{
    display: none;
  }
  .slide-content h2{
    margin: 0;
  }
  .left-img-bg{
    /*display: none;*/
  }
}
/*Jquery Classes*/
.bg-gray{
  background-color: #C5CDD1;
  transition: 0.4s;
}



/*MAIN SLIDER*/
body {
      /*background-color: transparent;*/
      /*overflow: hidden;*/
}
#slides {
  width: 100%;
  height: 100%;
  white-space: nowrap;
  font-size: 0;
  transform: translateX(0);
}
.slide {
  width: 100%;
  height: 60vh;
  display: inline-block;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #cccccc;
}
.animate {
  transition: all .5s ease-out;
}
.slide:nth-child(1) {
  background-image: url(https://images.pexels.com/photos/296115/pexels-photo-296115.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
}
.slide:nth-child(2) {
  background-image: url(https://images.pexels.com/photos/296121/pexels-photo-296121.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
}
  .slide:nth-child(3) {
background-image: url(https://images.pexels.com/photos/296116/pexels-photo-296116.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
}
.main-slider{
  position: relative;
}
.indicators{
  width: 100px;
  height: auto;
  background-color: transparent;
  position: absolute;
  bottom: 4%;
  right: 50%;
  transform: translateX(50%);
  display: flex;
  justify-content: space-between;
}
.main-slider .indicators div {
  width: 28px;
  height: 10px;
  border-radius: 5px;
  border: 2px solid #C0392B;
  cursor: pointer;
  transition: 0.4s;
}
.main-slider .indicators div:hover{
  transform: scale(1.2);
}
.active-slider{
  background-color: #C0392B;
}