.clear{
  clear: both;
}
a{
  text-decoration: none !important;
}
.header{
  position: fixed;
  top: 0;
  z-index: 11;
  width: 100%;
  background: rgba(43, 43, 43, 0);
}
.header ul li a{
  padding-top: 21px;
}
.header .logo{
  padding: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 143px;
  height: 61px;
}
.header img{
  width: 100%;
  height: 100%;
}
.header img:hover{
  cursor: pointer;
}
.header ul li a{
  border-bottom: 5px solid transparent;
  transition: 0.3s;
  letter-spacing: 0.6px;
  font-weight: bold;
  font-size: 16px;
  color: white !important;
}
.header ul li{
}
.header ul li a:hover{
  border-bottom: 5px solid #C0392B;
}
.header ul li a:hover{
  border-bottom: 5px solid #C0392B;
}
.header ul .active a{
  background-color: transparent !important;
  color: #C0392B !important;
}
#mynavbar{
  width: 100%;
  text-align: center !important;
}
.career{
  padding-top: 61px;
}

.header{
  width: 100%;
  padding: 5px 0;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out; 
  z-index: 9999;
  top: 0;
  position: fixed;
}
.shrink{
  padding: 0px;
}
.nav-down {
    position: fixed;
    top: 0;
    transition: top 0.2s ease-in-out;
    width: 100%;
}

.nav-up {
  top: -65px;
  position: fixed;
  /*transition: top 0.2s ease-in-out;*/
}

.second-nav-down{
  transition: top 0.2s ease-in-out;
  width: 100%;
}
.second-nav-up {
  top: -58px;
  position: fixed;
}

/*FOOTER*/
.footer{
  background-color: #222222;
  padding-top: 15px;
  padding-bottom: 15px;
  color: lightgray;
}
.footer img{
  width: 143px;
  height: 51px;
  margin-bottom: 20px;
}
.footer i{
  color: #C0392B;
  margin-right: 10px;
}
.footer .border-bottom{
  border-bottom: 2px solid #C0392B;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.footer .copyright{
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .copyright a{
  text-decoration: none;
}
.footer .copyright i{
  font-size: 24px;
  color: white;
  transition: 0.3s;
}
.footer .copyright i:hover{
  color: #C0392B;
  transform: scale(1.2);
}
.footer ul{
  list-style: none;
  padding: 0;
  padding-top: 5px;
}
.footer ul li{
  height: 23px;
  cursor: pointer;
  transition: 0.3s;
}
.footer ul li:hover{
  color: #C0392B;
  font-size: 16px;
}
.footer ul a{
  text-decoration: none;
  color: lightgray;
}

address{
  padding-top: 20px;
}
@media screen and (max-width: 1199px) {
  #slider .slidee p{
    font-size: 12px;
  }
}


@media screen and (max-width: 991px) {
  .header ul li  a{
    font-size: 13px;
  }
  .footer .border-bottom{
    text-align: center;
  }
  .footer img{
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .clear{
    clear: none;
  }
}
@media screen and (max-width: 767px) {
  .display-none{
    display: none;
  }
  .slide-content h2{
    margin: 0;
  }
  .left-img-bg{
    /*display: none;*/
  }
}

/*==================================================*/
/*MAIN SLIDER*/
/*==================================================*/
.iq-font-white { color: #ffffff; }
/* Section title white */
.heading-title.white .title { color: #fff; }
.heading-title.white .title:before { background: #fff; }
.iq-fadebounce { -webkit-animation-name: fadebounce; -moz-animation-name: fadebounce; -ms-animation-name: fadebounce; -o-animation-name: fadebounce; animation-name: fadebounce; -webkit-animation-duration: 3s; -moz-animation-duration: 3s; -ms-animation-duration: 3s; -o-animation-duration: 3s; animation-duration: 3s; -webkit-animation-iteration-count: infinite; -moz-animation-iteration-count: infinite; -ms-animation-iteration-count: infinite; -o-animation-iteration-count: infinite; animation-iteration-count: infinite; }
@-moz-keyframes fadebounce {
  0% { -moz-transform: translateY(0); transform: translateY(0); opacity: 1 }
  50% { -moz-transform: translateY(20px); transform: translateY(20px); opacity: 1 }
  100% { -moz-transform: translateY(0); transform: translateY(0); opacity: 1 }
}
@-webkit-keyframes fadebounce {
  0% { -webkit-transform: translateY(0); transform: translateY(0); opacity: 1 }
  50% { -webkit-transform: translateY(20px); transform: translateY(20px); opacity: 1 }
  100% { -webkit-transform: translateY(0); transform: translateY(0); opacity: 1 }
}
@-o-keyframes fadebounce {
  0% { -o-transform: translateY(0); transform: translateY(0); opacity: 1 }
  50% { -o-transform: translateY(20px); transform: translateY(20px); opacity: 1 }
  100% { -o-transform: translateY(0); transform: translateY(0); opacity: 1 }
}
@-ms-keyframes fadebounce {
  0% { -ms-transform: translateY(0); transform: translateY(0); opacity: 1 }
  50% { -ms-transform: translateY(20px); transform: translateY(20px); opacity: 1 }
  100% { -ms-transform: translateY(0); transform: translateY(0); opacity: 1 }
}
@keyframes fadebounce {
  0% { transform: translateY(0); opacity: 1 }
  50% { transform: translateY(20px); opacity: 1 }
  100% { transform: translateY(0); opacity: 1 }
}
.iq-banner { position: relative; overflow: hidden; }
.iq-banner .container-fluid { padding: 0 90px; }
.iq-banner .banner-text { z-index: 9; position: relative; margin-top: 13%; }
.iq-banner .banner-text h1 { font-size: 64px; line-height: normal; }
.iq-banner .banner-img { width: 110%; }
.iq-banner .banner-objects { position: absolute; left: 0; top: 0; display: inline-block; width: 100%; height: 100%; }
.iq-banner .banner-objects .banner-objects-02 { position: absolute; bottom: 50%; margin-bottom: -125px; left: -13%; border: 15px solid rgba(255, 255, 255, 0.1); border-radius: 900px; height: 250px; width: 250px; }
.iq-banner .banner-objects .banner-objects-03 { position: absolute; top: 0%; right: -15%; border: 30px solid rgba(255, 255, 255, 0.1); border-radius: 900px; height: 400px; width: 400px; }
.iq-banner-03 .banner-img { width: 110%; }
/* Banner 13*/
.iq-banner .banner-text .banner-phone { position: absolute; right: -50px; top: 100%; width: 26%; }
.iq-banner .banner-text .watch-img{position:absolute; width:20%; top:100%; right:85%}

@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
.waveWrapper {
    overflow: hidden;
    z-index: 999;
}
.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 94px;
    background-image: transparent;
    z-index: 9;
    bottom: 29px;
}
.wave {
    position: absolute;
    left: 0;
    width: 300%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}

.waveBottom {
    background-size: 50% 100px;
}
.waveAnimation .waveBottom {
    animation: move_wave 23s linear infinite;
}
.banner-objects{
  background-color: rgba(0,0,0,0.8)
}

#iq-home{
  background-color: transparent;
}
.iq-over-blue-90:before{
  background-color: transparent;
}
.main-slider-holder{
  position: relative;
}

.iq-banner.overview-block-pt.iq-bg-over.iq-over-blue-90.iq-parallax{
  background-size: cover !important;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (max-width: 991px){
  .waveAnimation .waveBottom {
    animation: unset;
    background-size: 41% 90px;
  }
}
@media screen and (max-width: 521px){
  .waveAnimation .waveBottom {
    background-size: 49% 45px;
  }
}

/*WORK PROGRESS*/
/*==================================================================*/
/*==================================================================*/
/*WORK PROCESS*/

.work-process{
  position: relative;
  display: none;
}

/* RESET STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.chart-skills.first {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}

.chart-skills.first *,
.chart-skills.first::before {
  box-sizing: border-box;
}


/* CHART-SKILLS.first STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.chart-skills.first {
  position: absolute;
  width: 220px;
  height: 110px;
  overflow: hidden;
  top: 85px;
}

.chart-skills.first::before,
.chart-skills.first::after {
  position: absolute;
}

.chart-skills.first::before {
  content: '';
  width: inherit;
  height: inherit;
  border: 30px solid rgba(211, 211, 211, .3);
  border-bottom: none;
  border-top-left-radius: 175px;
  border-top-right-radius: 175px;
}

.chart-skills.first::after {
  content: "";
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 50%);
  font-size: 20px;
  font-weight: bold;
  z-index: 9999;
  width: 50px;
  height: 50px;
}

.chart-skills.first li {
  position: absolute;
  top: 100%;
  left: 0;
  width: inherit;
  height: inherit;
  border: 30px solid;
  border-top: none;
  border-bottom-left-radius: 175px;
  border-bottom-right-radius: 175px;
  transform-origin: 50% 0;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  animation-fill-mode: forwards;
  animation-duration: .3s;
  animation-timing-function: linear;
}
.first-title h3{
  color: #B8D8D8;
}
.first-title{
  animation: fade-in 1.5s linear forwards;
}

.chart-skills.first li:nth-child(1) {
  z-index: 4;
  border-color: #B8D8D8;
  animation-name: rotate-one;
  animation-delay: .4s;
}

.chart-skills.first li:nth-child(2) {
  z-index: 3;
  border-color: #B8D8D8;
  animation-name: rotate-two;
  animation-delay: .7s;
}

.chart-skills.first li:nth-child(3) {
  z-index: 2;
  border-color: #B8D8D8;
  animation-name: rotate-three;
  animation-delay: 1s;
}

.chart-skills.first li:nth-child(4) {
  z-index: 1;
  border-color: #B8D8D8;
  animation-name: rotate-four;
  animation-delay: 1.3s;
}

.chart-skills.first span {
  position: absolute;
  font-size: .85rem;
  backface-visibility: hidden;
  animation: fade-in .4s linear forwards;
}

.chart-skills.first li:nth-child(1) span {
  top: 5px;
  left: 10px;
  transform: rotate(0deg);
}

.chart-skills.first li:nth-child(2) span {
  top: 20px;
  left: 10px;
  transform: rotate(-79.2deg);
  animation-delay: .4s;
}

.chart-skills.first li:nth-child(3) span {
  top: 18px;
  left: 10px;
  transform: rotate(-140.4deg);
  animation-delay: .8s;
}

.chart-skills.first li:nth-child(4) span {
  top: 10px;
  left: 10px;
  transform: rotate(-180deg);
  animation-delay: 1.2s;
}


/* ANIMATIONS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@keyframes rotate-one {
  100% {
    transform: rotate(45deg);
  }
}

@keyframes rotate-two {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

@keyframes rotate-three {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(135deg);
  }
}

@keyframes rotate-four {
  0% {
    transform: rotate(135deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@keyframes fade-in {
  0%,
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



/*=============================================================*/

/*SECOND*/
.chart-skills.second {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  transform: rotate(180deg);
  margin-right: -52px;
}

.chart-skills.second *,
.chart-skills.second::before {
  box-sizing: border-box;
}


/* CHART-SKILLS.second STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.chart-skills.second {
  position: absolute;
  width: 220px;
  height: 110px;
  top: 195px;
  overflow: hidden;
}

.chart-skills.second::before,
.chart-skills.second::after {
  position: absolute;
}

.chart-skills.second::before {
  content: '';
  width: inherit;
  height: inherit;
  border: 30px solid rgba(211, 211, 211, .3);
  border-bottom: none;
  border-top-left-radius: 175px;
  border-top-right-radius: 175px;
}

.chart-skills.second::after {
  content: '';
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
  font-size: 1.1rem;
  font-weight: bold;
  color: cadetblue;
}
.chart-skills.second li {
  position: absolute;
  top: 100%;
  left: 0;
  width: inherit;
  height: inherit;
  border: 30px solid;
  border-top: none;
  border-bottom-left-radius: 175px;
  border-bottom-right-radius: 175px;
  transform-origin: 50% 0;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  animation-fill-mode: forwards;
  animation-duration: .3s;
  animation-timing-function: linear;
}
.second-title h3{
  color: #7A9E97; 
}
.second-title{
  animation: fade-in 3.0s linear forwards;
}

.chart-skills.second li:nth-child(1) {
  z-index: 4;
  border-color: #7A9E97;
  animation-name: rotate-one-second;
  animation-delay: 1.6s;
}

.chart-skills.second li:nth-child(2) {
  z-index: 3;
  border-color: #7A9E97;
  animation-name: rotate-two-second;
  animation-delay: 1.9s;
}

.chart-skills.second li:nth-child(3) {
  z-index: 2;
  border-color: #7A9E97;
  animation-name: rotate-three-second;
  animation-delay: 2.2s;
}

.chart-skills.second li:nth-child(4) {
  z-index: 1;
  border-color: #7A9E97;
  animation-name: rotate-four-second;
  animation-delay: 2.5s;
}

.chart-skills.second span {
  position: absolute;
  font-size: .85rem;
  backface-visibility: hidden;
  animation: fade-in .4s linear forwards;
}

.chart-skills.second li:nth-child(1) span {
  top: 5px;
  left: 10px;
  transform: rotate(-21.6deg);
}

.chart-skills.second li:nth-child(2) span {
  top: 20px;
  left: 10px;
  transform: rotate(-79.2deg);
  animation-delay: .4s;
}

.chart-skills.second li:nth-child(3) span {
  top: 18px;
  left: 10px;
  transform: rotate(-140.4deg);
  animation-delay: .8s;
}

.chart-skills.second li:nth-child(4) span {
  top: 10px;
  left: 10px;
  transform: rotate(-180deg);
  animation-delay: 1.2s;
}


/* ANIMATIONS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@keyframes rotate-one-second {
  100% {
    transform: rotate(-45deg);
  }
}

@keyframes rotate-two-second {
  0% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(-90deg);
  }
}

@keyframes rotate-three-second {
  0% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(-135deg);
  }
}

@keyframes rotate-four-second {
  0% {
    transform: rotate(-135deg);
  }
  100% {
    transform: rotate(-180deg);
  }
}

@keyframes fade-in {
  0%,
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/*=============================================================*/

/*THIRD*/

.chart-skills.third *,
.chart-skills.third::before {
  box-sizing: border-box;
}


/* CHART-SKILLS STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.chart-skills.third {
  position: absolute;
  width: 220px;
  height: 110px;
  top: 85px;
  overflow: hidden;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}

.chart-skills.third::before,
.chart-skills.third::after {
  position: absolute;
}

.chart-skills.third::before {
  content: '';
  width: inherit;
  height: inherit;
  border: 30px solid rgba(211, 211, 211, .3);
  border-bottom: none;
  border-top-left-radius: 175px;
  border-top-right-radius: 175px;
}

.chart-skills.third::after {
  content: '';
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
  font-size: 1.1rem;
  font-weight: bold;
  color: cadetblue;
}

.chart-skills.third li {
  position: absolute;
  top: 100%;
  left: 0;
  width: inherit;
  height: inherit;
  border: 30px solid;
  border-top: none;
  border-bottom-left-radius: 175px;
  border-bottom-right-radius: 175px;
  transform-origin: 50% 0;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  animation-fill-mode: forwards;
  animation-duration: .3s;
  animation-timing-function: linear;
}
.third-title h3{
  color: #4F6367;
}
.third-title{
  animation: fade-in 4.2s linear forwards;
}

.chart-skills.third li:nth-child(1) {
  z-index: 4;
  border-color: #4F6367;
  animation-name: rotate-one;
  animation-delay: 2.8s;
}

.chart-skills.third li:nth-child(2) {
  z-index: 3;
  border-color: #4F6367;
  animation-name: rotate-two;
  animation-delay: 3.1s;
}

.chart-skills.third li:nth-child(3) {
  z-index: 2;
  border-color: #4F6367;
  animation-name: rotate-three;
  animation-delay: 3.4s;
}

.chart-skills.third li:nth-child(4) {
  z-index: 1;
  border-color: #4F6367;
  animation-name: rotate-four;
  animation-delay: 3.7s;
}

.chart-skills.third span {
  position: absolute;
  font-size: .85rem;
  backface-visibility: hidden;
  animation: fade-in .4s linear forwards;
}

.chart-skills.third li:nth-child(1) span {
  top: 5px;
  left: 10px;
  transform: rotate(-21.6deg);
}

.chart-skills.third li:nth-child(2) span {
  top: 20px;
  left: 10px;
  transform: rotate(-79.2deg);
  animation-delay: .4s;
}

.chart-skills.third li:nth-child(3) span {
  top: 18px;
  left: 10px;
  transform: rotate(-140.4deg);
  animation-delay: .8s;
}

.chart-skills.third li:nth-child(4) span {
  top: 10px;
  left: 10px;
  transform: rotate(-180deg);
  animation-delay: 1.2s;
}


/* ANIMATIONS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@keyframes rotate-one {
  100% {
    transform: rotate(45deg);
  }
}

@keyframes rotate-two {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

@keyframes rotate-three {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(135deg);
  }
}

@keyframes rotate-four {
  0% {
    transform: rotate(135deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@keyframes fade-in {
  0%,
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



/*=============================================================*/

/*FOURTH*/
.chart-skills.fourth {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  transform: rotate(180deg);
  margin-right: -52px;
}

.chart-skills.fourth *,
.chart-skills.fourth::before {
  box-sizing: border-box;
}


/* CHART-SKILLS.second STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.chart-skills.fourth {
  position: absolute;
  width: 220px;
  height: 110px;
  top: 195px;
  overflow: hidden;
}

.chart-skills.fourth::before,
.chart-skills.fourth::after {
  position: absolute;
}

.chart-skills.fourth::before {
  content: '';
  width: inherit;
  height: inherit;
  border: 30px solid rgba(211, 211, 211, .3);
  border-bottom: none;
  border-top-left-radius: 175px;
  border-top-right-radius: 175px;
}

.chart-skills.fourth::after {
  content: '';
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
  font-size: 1.1rem;
  font-weight: bold;
  color: cadetblue;
}

.chart-skills.fourth li {
  position: absolute;
  top: 100%;
  left: 0;
  width: inherit;
  height: inherit;
  border: 30px solid;
  border-top: none;
  border-bottom-left-radius: 175px;
  border-bottom-right-radius: 175px;
  transform-origin: 50% 0;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  animation-fill-mode: forwards;
  animation-duration: .3s;
  animation-timing-function: linear;
}
.fourth-title h3{
  color: #EEF5DB;
}
.fourth-title{
  animation: fade-in 5.5s linear forwards;
}

.chart-skills.fourth li:nth-child(1) {
  z-index: 4;
  border-color: #EEF5DB;
  animation-name: rotate-one-second;
  animation-delay: 4s;
}

.chart-skills.fourth li:nth-child(2) {
  z-index: 3;
  border-color: #EEF5DB;
  animation-name: rotate-two-second;
  animation-delay: 4.3s;
}

.chart-skills.fourth li:nth-child(3) {
  z-index: 2;
  border-color: #EEF5DB;
  animation-name: rotate-three-second;
  animation-delay: 4.6s;
}

.chart-skills.fourth li:nth-child(4) {
  z-index: 1;
  border-color: #EEF5DB;
  animation-name: rotate-four-second;
  animation-delay: 4.9s;
}

.chart-skills.fourth span {
  position: absolute;
  font-size: .85rem;
  backface-visibility: hidden;
  animation: fade-in .4s linear forwards;
}

.chart-skills.fourth li:nth-child(1) span {
  top: 5px;
  left: 10px;
  transform: rotate(-21.6deg);
}

.chart-skills.fourth li:nth-child(2) span {
  top: 20px;
  left: 10px;
  transform: rotate(-79.2deg);
  animation-delay: .4s;
}

.chart-skills.fourth li:nth-child(3) span {
  top: 18px;
  left: 10px;
  transform: rotate(-140.4deg);
  animation-delay: .8s;
}

.chart-skills.fourth li:nth-child(4) span {
  top: 10px;
  left: 10px;
  transform: rotate(-180deg);
  animation-delay: 1.2s;
}


/* ANIMATIONS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@keyframes rotate-one-second {
  100% {
    transform: rotate(-45deg);
  }
}

@keyframes rotate-two-second {
  0% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(-90deg);
  }
}

@keyframes rotate-three-second {
  0% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(-135deg);
  }
}

@keyframes rotate-four-second {
  0% {
    transform: rotate(-135deg);
  }
  100% {
    transform: rotate(-180deg);
  }
}

@keyframes fade-in {
  0%,
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}




/*=============================================================*/

/*FIVTH*/

.chart-skills.fifth *,
.chart-skills.fifth::before {
  box-sizing: border-box;
}


/* CHART-SKILLS STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.chart-skills.fifth {
  position: absolute;
  width: 220px;
  height: 110px;
  top: 85px;
  overflow: hidden;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}

.chart-skills.fifth::before,
.chart-skills.fifth::after {
  position: absolute;
}

.chart-skills.fifth::before {
  content: '';
  width: inherit;
  height: inherit;
  border: 30px solid rgba(211, 211, 211, .3);
  border-bottom: none;
  border-top-left-radius: 175px;
  border-top-right-radius: 175px;
}

.chart-skills.fifth::after {
  content: '';
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
  font-size: 1.1rem;
  font-weight: bold;
  color: cadetblue;
}

.chart-skills.fifth li {
  position: absolute;
  top: 100%;
  left: 0;
  width: inherit;
  height: inherit;
  border: 30px solid;
  border-top: none;
  border-bottom-left-radius: 175px;
  border-bottom-right-radius: 175px;
  transform-origin: 50% 0;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  animation-fill-mode: forwards;
  animation-duration: .3s;
  animation-timing-function: linear;
}
.fifth-title h3{
  color: #FE5F55;
}
.fifth-title{
  animation: fade-in 6.8s linear forwards;
}

.chart-skills.fifth li:nth-child(1) {
  z-index: 4;
  border-color: #FE5F55;
  animation-name: rotate-one;
  animation-delay: 5.2s;
}

.chart-skills.fifth li:nth-child(2) {
  z-index: 3;
  border-color: #FE5F55;
  animation-name: rotate-two;
  animation-delay: 5.5s;
}

.chart-skills.fifth li:nth-child(3) {
  z-index: 2;
  border-color: #FE5F55;
  animation-name: rotate-three;
  animation-delay: 5.8s;
}

.chart-skills.fifth li:nth-child(4) {
  z-index: 1;
  border-color: #FE5F55;
  animation-name: rotate-four;
  animation-delay: 6.1s;
}

.chart-skills.fifth span {
  position: absolute;
  font-size: .85rem;
  backface-visibility: hidden;
  animation: fade-in .4s linear forwards;
}

.chart-skills.fifth li:nth-child(1) span {
  top: 5px;
  left: 10px;
  transform: rotate(-21.6deg);
}

.chart-skills.fifth li:nth-child(2) span {
  top: 20px;
  left: 10px;
  transform: rotate(-79.2deg);
  animation-delay: .4s;
}

.chart-skills.fifth li:nth-child(3) span {
  top: 18px;
  left: 10px;
  transform: rotate(-140.4deg);
  animation-delay: .8s;
}

.chart-skills.fifth li:nth-child(4) span {
  top: 10px;
  left: 10px;
  transform: rotate(-180deg);
  animation-delay: 1.2s;
}


/* ANIMATIONS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@keyframes rotate-one {
  100% {
    transform: rotate(45deg);
  }
}

@keyframes rotate-two {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

@keyframes rotate-three {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(135deg);
  }
}

@keyframes rotate-four {
  0% {
    transform: rotate(135deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@keyframes fade-in {
  0%,
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



/*=============================================================*/

/*FOURTH*/
.chart-skills.sixth {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  transform: rotate(180deg);
  margin-right: -52px;
}

.chart-skills.sixth *,
.chart-skills.sixth::before {
  box-sizing: border-box;
}


/* CHART-SKILLS.second STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.chart-skills.sixth {
  position: absolute;
  width: 220px;
  height: 110px;
  top: 195px;
  overflow: hidden;
}

.chart-skills.sixth::before,
.chart-skills.sixth::after {
  position: absolute;
}

.chart-skills.sixth::before {
  content: '';
  width: inherit;
  height: inherit;
  border: 30px solid rgba(211, 211, 211, .3);
  border-bottom: none;
  border-top-left-radius: 175px;
  border-top-right-radius: 175px;
}

.chart-skills.sixth::after {
  content: '';
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
  font-size: 1.1rem;
  font-weight: bold;
  color: cadetblue;
}

.chart-skills.sixth li {
  position: absolute;
  top: 100%;
  left: 0;
  width: inherit;
  height: inherit;
  border: 30px solid;
  border-top: none;
  border-bottom-left-radius: 175px;
  border-bottom-right-radius: 175px;
  transform-origin: 50% 0;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  animation-fill-mode: forwards;
  animation-duration: .3s;
  animation-timing-function: linear;
}

.chart-skills.sixth li:nth-child(1) {
  z-index: 4;
  border-color: brown;
  animation-name: rotate-one-second;
  animation-delay: 6.4s;
}
.sixth-title h3{
  color: brown;
}
.sixth-title{
  animation: fade-in 8.1s linear forwards;
}

.chart-skills.sixth li:nth-child(2) {
  z-index: 3;
  border-color: brown;
  animation-name: rotate-two-second;
  animation-delay: 6.7s;
}

.chart-skills.sixth li:nth-child(3) {
  z-index: 2;
  border-color: brown;
  animation-name: rotate-three-second;
  animation-delay: 7s;
}

.chart-skills.sixth li:nth-child(4) {
  z-index: 1;
  border-color: brown;
  animation-name: rotate-four-second;
  animation-delay: 7.3s;
}

.chart-skills.sixth span {
  position: absolute;
  font-size: .85rem;
  backface-visibility: hidden;
  animation: fade-in .4s linear forwards;
}

.chart-skills.sixth li:nth-child(1) span {
  top: 5px;
  left: 10px;
  transform: rotate(-21.6deg);
}

.chart-skills.sixth li:nth-child(2) span {
  top: 20px;
  left: 10px;
  transform: rotate(-79.2deg);
  animation-delay: .4s;
}

.chart-skills.sixth li:nth-child(3) span {
  top: 18px;
  left: 10px;
  transform: rotate(-140.4deg);
  animation-delay: .8s;
}

.chart-skills.sixth li:nth-child(4) span {
  top: 10px;
  left: 10px;
  transform: rotate(-180deg);
  animation-delay: 1.2s;
}


/* ANIMATIONS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@keyframes rotate-one-second {
  100% {
    transform: rotate(-45deg);
  }
}

@keyframes rotate-two-second {
  0% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(-90deg);
  }
}

@keyframes rotate-three-second {
  0% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(-135deg);
  }
}

@keyframes rotate-four-second {
  0% {
    transform: rotate(-135deg);
  }
  100% {
    transform: rotate(-180deg);
  }
}

@keyframes fade-in {
  0%,
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
  
  ul h3{
    text-align: center;
  }

  ul p{
    position: absolute;
    left: 50%;
    transform: rotate(-180deg);
    transform: translate(-50%);
  }

  .progress-container{
    width: 220px;
      display: inline-block;
      position: absolute;
      height: 405px;
  }
  .progress-container.even .progress-title{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
  }
  .progress-container .container{
      width: 100%;
      height: 110px;
      padding: 0;
  }
  .icon-progress{
    background-image: url(images/icon1.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 20px;
      font-weight: bold;
      width: 50px;
      height: 50px;
      position: absolute;
  }

  .progress-container:nth-child(2){
    left: 190px;
  }
  .progress-container:nth-child(3){
    left: 380px;
  }
  .progress-container:nth-child(4){
    left: 570px;
  }
  .progress-container:nth-child(5){
    left: 760px;
  }
  .progress-container:nth-child(6){
    left: 950px;
  }
  .progress-title{
    text-align: center;
    height: 110px;
  }
  .work-process-row-container{
    height: 405px;
    position: relative;
  }
  .work-process-row-container .col-lg-12.col-md-12.col-sm-12{
    padding: 0;
  }
  .work-process-row-container .col-lg-12.col-md-12.col-sm-12 small{
    color: rgba(34,34,34,0.7);
  }
  .work-process-row-container .col-lg-12.col-md-12.col-sm-12 h2{
    color: inherit;
  }

@media screen and (max-width: 991px) {
  .header {
    padding: 0px;
    transition: 0.3s;
  }
  .iq-font-white{
    text-align: center;
  }
}





/*OUR TECHNOLOGIES*/
.our-skills-process{
    background-image: linear-gradient(to right, #2B0C93 , #FFE49A);
    height: 840px !important;
}
.company-icons{
    visibility: hidden;
}
@-webkit-keyframes floating {
    from {
    -webkit-transform: translateY(8px) rotate3d(0, 0, 1, 3deg);
    transform: translateY(8px) rotate3d(0, 0, 1, 3deg);
    }
    to {
        -webkit-transform: translateY(-8px) rotate3d(0, 0, 1, 0deg);
        transform: translateY(-8px) rotate3d(0, 0, 1, 0deg);
    }
    }@keyframes floating {
        from {
        -webkit-transform: translateY(8px) rotate3d(0, 0, 1, 3deg);
        transform: translateY(8px) rotate3d(0, 0, 1, 3deg);
    }
    to {
        -webkit-transform: translateY(-8px) rotate3d(0, 0, 1, 0deg);
        transform: translateY(-8px) rotate3d(0, 0, 1, 0deg);
    }
    }@-webkit-keyframes timerCountdown {
        0% {
        width: 0;
    }
    100% {
        width: 100%}
    }@keyframes timerCountdown {
        0% {
        width: 0;
    }
    100% {
        width: 100%}
    }@-webkit-keyframes timerReset {
        0% {
        width: 100%}
    100% {
        width: 0;
    }
    }@keyframes timerReset {
        0% {
        width: 100%}
    100% {
        width: 0;
    }
}
[data-page=index] .feature-title {
    color: #47495a;
    font-size: 19px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 700;
    line-height: 1.21;
    text-align: left;
}
[data-page=index] section.testimonies {
    height: 840px;
    overflow: hidden;
    position: relative;
}
[data-page=index] section.testimonies .container {
    height: 100%
}
[data-page=index] section.testimonies .container .carousel-quotes {
    display: inline-block;
    height: 100%;
    overflow: hidden;
    margin-left: 40px;
    position: relative;
    width: 569px;
}
[data-page=index] section.testimonies .container .carousel-quotes-fade-out-mask {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}
[data-page=index] section.testimonies .container .carousel-quotes-fade-out-mask .container {
    height: 100%
}
[data-page=index] section.testimonies .container .company-icons {
    display: inline-block;
    height: 100%;
    position: relative;
    vertical-align: top;
}
[data-page=index] section.testimonies .container .company-icons .company-icon-container {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: floating;
    animation-name: floating;
    -webkit-animation-play-state: running;
    animation-play-state: running;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    background-color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    box-shadow: 0 10px 40px 0 rgba(23, 28, 33, .13), 0 31px 13px 0 rgba(23, 28, 33, .05);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    opacity: 1;
    -webkit-transition: margin 1s cubic-bezier(.2, .6, .3, 1), opacity 2s ease;
    transition: margin 1s cubic-bezier(.2, .6, .3, 1), opacity 2s ease;
}
[data-page=index] section.testimonies .container .company-icons .company-icon-container .company-icon-ring-4-logo {
    background-image: url(../images/company-icon-spritesheet.png);
    background-position: -1px -1px;
    background-repeat: no-repeat;
    height: 100px;
    width: 100px;
}
[data-page=index] section.testimonies .container .company-icons .company-icon-container .company-icon-ring-3-logo {
    background-image: url(../images/company-icon-spritesheet.png);
    background-position: -103px -1px;
    background-repeat: no-repeat;
    height: 112px;
    width: 112px;
}
[data-page=index] section.testimonies .container .company-icons .company-icon-container .company-icon-ring-2-logo {
    background-image: url(../images/company-icon-spritesheet.png);
    background-position: -1px -115px;
    background-repeat: no-repeat;
    height: 21px;
    width: 100px;
}
[data-page=index] section.testimonies .container .company-icons .company-icon-container .company-icon-ring-1-logo {
    background-image: url(../images/company-icon-spritesheet.png);
    background-position: -103px -115px;
    background-repeat: no-repeat;
    height: 29px;
    width: 125px;
}
[data-page=index] section.testimonies .container .company-icons .company-icon-container .company-icon-ring-6-logo {
    background-image: url(../images/company-icon-spritesheet.png);
    background-position: -217px -1px;
    background-repeat: no-repeat;
    height: 105px;
    width: 140px;
}
[data-page=index] section.testimonies .container .company-icons .company-icon-container .company-icon-ring-8-logo {
    background-image: url(../images/company-icon-spritesheet.png);
    background-position: -230px -108px;
    background-repeat: no-repeat;
    height: 25px;
    width: 93px;
}
[data-page=index] section.testimonies .container .company-icons .company-icon-container .company-icon-ring-9-logo {
    background-image: url(../images/company-icon-spritesheet.png);
    background-position: -230px -135px;
    background-repeat: no-repeat;
    height: 21px;
    width: 100px;
}
[data-page=index] section.testimonies .container .company-icons .company-icon-container .company-icon-ring-7-logo {
    background-image: url(../images/company-icon-spritesheet.png);
    background-position: -1px -158px;
    background-repeat: no-repeat;
    height: 31px;
    width: 100px;
}
[data-page=index] section.testimonies .container .company-icons .company-icon-container.ring-1 {
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    height: 144px;
    margin-left: 76px;
    margin-top: -25px;
    position: absolute;
    width: 144px;
}
[data-page=index] section.testimonies .container .company-icons .company-icon-container.ring-1 .company-icon {
    background-image: url(../images/company-icon-spritesheet.png);
    background-position: -103px -115px;
    background-repeat: no-repeat;
    height: 29px;
    width: 125px;
}
[data-page=index] section.testimonies .container .company-icons .company-icon-container.ring-2 {
    -webkit-animation-delay: -1.8s;
    animation-delay: -1.8s;
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    height: 147px;
    margin-left: 417px;
    margin-top: 38px;
    position: absolute;
    -webkit-transition-delay: .1s;
    transition-delay: .1s;
    width: 147px;
}
[data-page=index] section.testimonies .container .company-icons .company-icon-container.ring-2 .company-icon {
    background-image: url(../images/company-icon-spritesheet.png);
    background-position: -1px -115px;
    background-repeat: no-repeat;
    height: 21px;
    width: 100px;
}
[data-page=index] section.testimonies .container .company-icons .company-icon-container.ring-3 {
    -webkit-animation-delay: -2.2s;
    animation-delay: -2.2s;
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    height: 104px;
    margin-left: 211px;
    margin-top: 189px;
    position: absolute;
    -webkit-transition-delay: .2s;
    transition-delay: .2s;
    width: 104px;
}
[data-page=index] section.testimonies .container .company-icons .company-icon-container.ring-3 .company-icon {
    background-image: url(../images/company-icon-spritesheet.png);
    background-position: -103px -1px;
    background-repeat: no-repeat;
    height: 112px;
    width: 112px;
}
[data-page=index] section.testimonies .container .company-icons .company-icon-container.ring-4 {
    -webkit-animation-delay: -3.4s;
    animation-delay: -3.4s;
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    height: 136px;
    margin-left: 15px;
    margin-top: 294px;
    position: absolute;
    -webkit-transition-delay: .3s;
    transition-delay: .3s;
    width: 136px;
}
[data-page=index] section.testimonies .container .company-icons .company-icon-container.ring-4 .company-icon {
    background-image: url(../images/company-icon-spritesheet.png);
    background-position: -1px -1px;
    background-repeat: no-repeat;
    height: 100px;
    width: 100px;
}
[data-page=index] section.testimonies .container .company-icons .company-icon-container.ring-5 {
    -webkit-animation-delay: -2.4s;
    animation-delay: -2.4s;
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    background-size: 100px;
    height: 122px;
    margin-left: 524px;
    margin-top: 308px;
    position: absolute;
    -webkit-transition-delay: .4s;
    transition-delay: .4s;
    width: 122px;
}
[data-page=index] section.testimonies .container .company-icons .company-icon-container.ring-6 {
    -webkit-animation-delay: -.3s;
    animation-delay: -.3s;
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    height: 144px;
    margin-left: 302px;
    margin-top: 357px;
    position: absolute;
    -webkit-transition-delay: .5s;
    transition-delay: .5s;
    width: 144px;
}
[data-page=index] section.testimonies .container .company-icons .company-icon-container.ring-6 .company-icon {
    background-image: url(../images/company-icon-spritesheet.png);
    background-position: -217px -1px;
    background-repeat: no-repeat;
    height: 105px;
    width: 140px;
}
[data-page=index] section.testimonies .container .company-icons .company-icon-container.ring-7 {
    -webkit-animation-delay: -2.9s;
    animation-delay: -2.9s;
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    height: 122px;
    margin-left: 108px;
    margin-top: 539px;
    position: absolute;
    -webkit-transition-delay: .6s;
    transition-delay: .6s;
    width: 122px;
}
[data-page=index] section.testimonies .container .company-icons .company-icon-container.ring-7 .company-icon {
    background-image: url(../images/company-icon-spritesheet.png);
    background-position: -1px -158px;
    background-repeat: no-repeat;
    height: 31px;
    width: 100px;
}
[data-page=index] section.testimonies .container .company-icons .company-icon-container.ring-8 {
    -webkit-animation-delay: -.9s;
    animation-delay: -.9s;
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    height: 122px;
    margin-left: 515px;
    margin-top: 538px;
    position: absolute;
    -webkit-transition-delay: .7s;
    transition-delay: .7s;
    width: 122px;
}
[data-page=index] section.testimonies .container .company-icons .company-icon-container.ring-8 .company-icon {
    background-image: url(../images/company-icon-spritesheet.png);
    background-position: -230px -108px;
    background-repeat: no-repeat;
    height: 25px;
    width: 93px;
}
[data-page=index] section.testimonies .container .company-icons .company-icon-container.ring-9 {
    -webkit-animation-delay: -3.9s;
    animation-delay: -3.9s;
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    height: 136px;
    margin-left: 300px;
    margin-top: 627px;
    position: absolute;
    -webkit-transition-delay: .8s;
    transition-delay: .8s;
    width: 136px;
}
[data-page=index] section.testimonies .container .company-icons .company-icon-container.ring-9 .company-icon {
    background-image: url(../images/company-icon-spritesheet.png);
    background-position: -230px -135px;
    background-repeat: no-repeat;
    height: 21px;
    width: 100px;
}
[data-page=index] section.testimonies .container .company-icons .company-icon-container.hidden {
    opacity: 0;
    margin-left: 300px;
    margin-top: 420px;
}






[data-page=index] section.explore .container .resources-section-container .resources-panel-container .resources-carousel-panel-container .resources-carousel-panel .resource-detail-container.news .resource-info .news.resource-title.no-logo {
    padding-left: 0!important;
}
[data-page=index] section.testimonies .container .carousel-quotes .slick-list .carousel-row .carousel-row-content .customer-info .customer-icon-container .customer-icon {
    background-color: #fff;
}
[data-page=index] section.testimonies .container .company-icons .company-icon-container {
    overflow: hidden;
}
[data-page=index] section.testimonies .container .company-icons .company-icon-container .company-icon.image {
    width: 100px;
    height: 100px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}
body {
    min-width: 320px!important;
}

#wrapper {
    overflow: hidden;
}
@media (max-width:359px) {
    body {
        min-width: 320px;
    }
    @-ms-viewport {
        width: 320px;
    }
    @-o-viewport {
        width: 320px;
    }
    @viewport {
        width: 320px;
    }
    }@media (max-width:319px) {
        body {
        min-width: 0;
    }
}
@media (max-width:1279px) {
    .container {
      width: 100%;
      max-width: 1200px;
      padding-left: 30px;
      padding-right: 30px;
    }
}
@media (max-width:767px) {
    #purchase .step .logo-footer, .contact-form .footer .logo-footer {
        margin: 0 auto 70px;
    }
    .contact-form .row .field {
        margin-bottom: 20px;
    }
    #purchase .step .logo-footer .logos, .contact-form .footer .logo-footer .logos {
        width: 100%;
        -ms-flex-direction: row;
        flex-direction: row;
    }
    #purchase .step .logo-footer .logo, .contact-form .footer .logo-footer .logo {
        margin-left: 10px;
        margin-right: 10px;
    }
    #purchase .step .logo-footer .logos.salesforce, .contact-form .footer .logo-footer .logo.salesforce {
        margin-top: 11px;
    }
    #purchase .step .logo-footer .logos.ring-9, .contact-form .footer .logo-footer .logo.ring-9 {
        margin-top: 15px;
    }
    #purchase .step .logo-footer .logos.amazon, .contact-form .footer .logo-footer .logo.amazon {
        margin-top: 13px;
    }
    #purchase .step .logo-footer .logos.expedia, #purchase .step .logo-footer .logos.intuit, #purchase .step .logo-footer .logos.kik, .contact-form .footer .logo-footer .logo.expedia, .contact-form .footer .logo-footer .logo.intuit, .contact-form .footer .logo-footer .logo.kik {
        margin-top: 6px;
    }
    #purchase .logo {
        margin: 10px auto!important;
    }
}


@media (max-width:1279px) {
    .page-content[data-page=index] section.testimonies .container .company-icons {
        min-height: 720px;
        margin-left: 0;
        margin-top: 59px;
        width: 100%}
    .page-content[data-page=index] section.testimonies .container .company-icons .company-icon-container {
        padding: 10px;
    }
    .page-content[data-page=index] section.testimonies .container .company-icons .company-icon-container.ring-1 {
        width: 136px;
        height: 136px;
        margin-left: 0;
        margin-top: 0;
    }
    .page-content[data-page=index] section.testimonies .container .company-icons .company-icon-container.ring-2 {
        width: 146px;
        height: 146px;
        margin-top: 68px;
        margin-left: calc(100% - 146px);
    }
    .page-content[data-page=index] section.testimonies .container .company-icons .company-icon-container.ring-3 {
        width: 100px;
        height: 100px;
        margin-left: 41.79%;
        margin-top: 44px;
    }
    .page-content[data-page=index] section.testimonies .container .company-icons .company-icon-container.ring-4 {
        width: 128px;
        height: 128px;
        margin-left: 17.02%;
        margin-top: 180px;
    }
    .page-content[data-page=index] section.testimonies .container .company-icons .company-icon-container.ring-5 {
        width: 118px;
        height: 118px;
        margin-left: 34.22%;
        margin-top: 380px;
    }
    .page-content[data-page=index] section.testimonies .container .company-icons .company-icon-container.ring-5 .company-icon {
        width: 85%!important;
    }
    .page-content[data-page=index] section.testimonies .container .company-icons .company-icon-container.ring-6 {
        width: 136px;
        height: 136px;
        margin-left: 57.8%;
        margin-top: 220px;
    }
    .page-content[data-page=index] section.testimonies .container .company-icons .company-icon-container.ring-7 {
        width: 114px;
        height: 114px;
        margin-left: 0;
        margin-top: 390px;
    }
    .page-content[data-page=index] section.testimonies .container .company-icons .company-icon-container.ring-8 {
        width: 114px;
        height: 114px;
        margin-left: 54%;
        margin-top: 540px;
    }
    .page-content[data-page=index] section.testimonies .container .company-icons .company-icon-container.ring-9 {
        width: 142px;
        height: 142px;
        margin-left: calc(100% - 142px);
        margin-top: 408px;
    }
    .page-content[data-page=index] section.testimonies .container .company-icons .company-icon-container.ring-9 .company-icon {
        width: 96px!important;
        height: 46px!important;
    }
}
@media (max-width:767px) {
    .page-content[data-page=index] section.testimonies .container {
        margin-left: 0;
        margin-right: 0;
    }
    .page-content[data-page=index] section.testimonies .container .company-icons {
        min-height: 708px;
        margin-left: 0;
        margin-top: 40px;
        width: 100%}
    .page-content[data-page=index] section.testimonies .container .company-icons .company-icon-container.ring-1 {
        width: 110px;
        height: 110px;
        margin-left: 10px;
        margin-top: 60px;
    }
    .page-content[data-page=index] section.testimonies .container .company-icons .company-icon-container.ring-2 {
        width: 110px;
        height: 110px;
        margin-top: 20px;
        margin-left: calc(100% - 138px);
    }
    .page-content[data-page=index] section.testimonies .container .company-icons .company-icon-container.ring-3 {
        width: 80px;
        height: 80px;
        margin-left: calc(51.69% - 80px);
        margin-top: 138px;
    }
    .page-content[data-page=index] section.testimonies .container .company-icons .company-icon-container.ring-4 {
        width: 102px;
        height: 102px;
        margin-left: calc(38% - 102px);
        margin-top: 275px;
    }
    .page-content[data-page=index] section.testimonies .container .company-icons .company-icon-container.ring-5 .company-icon {
        width: 85%!important;
    }
    .page-content[data-page=index] section.testimonies .container .company-icons .company-icon-container.ring-6 {
        width: 108px;
        height: 108px;
        margin-left: calc(85% - 108px);
        margin-top: 218px;
    }
    .page-content[data-page=index] section.testimonies .container .company-icons .company-icon-container.ring-7 {
        width: 92px;
        height: 92px;
        margin-left: 0;
        margin-top: 426px;
    }
    .page-content[data-page=index] section.testimonies .container .company-icons .company-icon-container.ring-8 {
        width: 92px;
        height: 92px;
        margin-left: calc(44% - 92px);
        margin-top: 550px;
    }
    .page-content[data-page=index] section.testimonies .container .company-icons .company-icon-container.ring-9 {
        width: 100px;
        height: 100px;
        margin-left: calc(100% - 115px);
        margin-top: 520px;
    }
    .page-content[data-page=index] section.testimonies .container .company-icons .company-icon-container.ring-9 .company-icon {
        width: 96px!important;
        height: 46px!important;
    }
    .testimonies{
        height: 730px !important;
    }
}
@media (max-width:479px) {
    .page-content[data-page=index] section.testimonies .container .company-icons {
        min-height: 708px;
        margin-left: 0;
        margin-top: 40px;
        width: 100%
    }
    .page-content[data-page=index] section.testimonies .container .company-icons .company-icon-container.ring-1 {
        margin-top: 0;
    }
    .page-content[data-page=index] section.testimonies .container .company-icons .company-icon-container.ring-2 {
        margin-top: 60px;
    }
    .page-content[data-page=index] section.testimonies .container .company-icons .company-icon-container.ring-4 {
        width: 102px;
        height: 102px;
        margin-left: 14px;
        margin-top: 258px;
    }
}
@media (max-width:374px) {
    .page-content[data-page=index] section.testimonies .container {
      padding-left: 15px!important;
      padding-right: 15px!important;
    }
}

@keyframes one-animated {
    0% { border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%
    box-shadow:15px 15px 50px rgba(0, 0, 0, 0.2); }
    25% { border-radius: 58% 42% 75% 25% / 76% 46% 54% 24%; }
    50% { border-radius: 50% 50% 33% 67% / 55% 27% 73% 45%
    box-shadow:-10px -5px 50px rgba(0, 0, 0, 0.2); }
    75% { border-radius: 33% 67% 58% 42% / 63% 68% 32% 37%; }
}
@keyframes two-animated {
    0% { border-radius: 70% 30% 30% 70% / 70% 70% 30% 30%
    box-shadow:15px 15px 50px rgba(0, 0, 0, 0.2); }
    25% { border-radius: 40% 80% 30% 90% / 72% 65% 35% 28%; }
    50% { border-radius: 65% 35% 45% 55% / 22% 48% 52% 78%
    box-shadow:-10px -5px 50px rgba(0, 0, 0, 0.2); }
    75% { border-radius: 24% 76% 10% 90% / 44% 68% 32% 56%; }
}
@keyframes three-animated {
    0% { border-radius: 12% 88% 40% 40% / 20% 15% 85% 80%
    box-shadow:15px 15px 50px rgba(0, 0, 0, 0.2); }
    25% { border-radius: 72% 28% 30% 90% / 15% 46% 54% 85%; }
    50% { border-radius: 12% 88% 40% 40% / 20% 15% 85% 80%
    box-shadow:-10px -5px 50px rgba(0, 0, 0, 0.2); }
    75% { border-radius: 18% 82% 10% 90% / 24% 68% 32% 76%; }
}

.iq-fancy-boxnew{ 
  padding: 40px 15px 25px 15px; 
  overflow: hidden; 
  position: relative; 
  background: transparent;  
}
.iq-fancy-boxnew .iq-icon { 
  border-radius: 90px; 
  display: inline-block; 
  height: 86px; 
  width: 86px; 
  line-height: 86px; 
  text-align: center; 
  color: #fff; 
  background: #4ac4f3; 
  -webkit-transition: all 0.5s ease-out 0s; 
  -moz-transition: all 0.5s ease-out 0s; 
  -ms-transition: all 0.5s ease-out 0s; 
  -o-transition: all 0.5s ease-out 0s; 
  transition: all 0.5s ease-out 0s; 
}
.iq-fancy-boxnew .iq-icon i { 
  font-size: 46px; 
}
.iq-fancy-boxnew .fancy-content h5 { 
  z-index: 9; 
  position: relative; }
.iq-works-imgs{
  width: 100%;
}
.iq-fancy-boxnew.text-center .icon-bg { 
  text-align: center; 
  display flex; 
  align-content: center; 
  align-items: center; 
  justify-content: center;
  width: 86px; 
  height: 86px; 
  margin: auto; 
  position: relative; 
  background-color: #C0392B; 
  background-image: linear-gradient(-45deg, #C0392B 0%, #C0392B 100%); 
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%; 
  box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.2); 
  animation: one-animated 10s infinite; 
  overflow: hidden; 
}
.iq-icon.icon-bg i{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.one-time{
  display: none;
}
.slick-next{
  right: 0px !important;
  display: none !important;
}

.slideInDown{
  display: none;
}