@font-face {
  font-family: Segoe Script;
  src: url(fonts/segoesc.ttf);
}
.clear{
  clear: both;
}
a{
  text-decoration: none !important;
}
.header{
  position: fixed;
  top: 0;
  z-index: 11;
  width: 100%;
}
.header ul li a{
  padding-top: 21px;
}
.header .logo{
  padding: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 143px;
  height: 61px;
}
.header img{
  width: 100%;
  height: 100%;
}
.header img:hover{
  cursor: pointer;
}
.header ul li a{
  border-bottom: 5px solid transparent;
  transition: 0.3s;
  letter-spacing: 0.6px;
  font-weight: bold;
  font-size: 16px;
  font-family: Segoe Script, sans-serif;
}
.header ul li a:hover{
  border-bottom: 5px solid #C0392B;
}
.header ul li a:hover{
  border-bottom: 5px solid #C0392B;
}
.header ul .active a{
  background-color: transparent !important;
  color: #C0392B !important;
}
#mynavbar{
  width: 100%;
  text-align: center !important;
}
.career{
  padding-top: 61px;
}

.header{
  width: 100%;
  padding: 15px 0;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out; 
  z-index: 9999;
  top: 0;
  position: fixed;
}
.shrink{
  padding: 0px;
}
.nav-down {
    position: fixed;
    top: 0;
    transition: top 0.2s ease-in-out;
    width: 100%;
}

.nav-up {
  top: -65px;
  position: fixed;
  transition: top 0.2s ease-in-out;
}

.second-nav-down{
  transition: top 0.2s ease-in-out;
  width: 100%;
}
.second-nav-up {
  top: -58px;
  position: fixed;
}


/*CAROUSEL*/
body,
#slider,
.wrap,
.slide-content {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 50vh;
  overflow-x: hidden;
}
.wrap {
  position: relative;
}

.wrap .navigations-images{
  width: 140px;
  height: auto;
  background-color: transparent;
  position: absolute;
  bottom: 6%;
  right: 50%;
  transform: translateX(50%);
  display: flex;
  justify-content: space-between;
  z-index: 2;
}
.wrap .navigations-images div {
  width: 28px;
  height: 10px;
  border-radius: 5px;
  border: 2px solid #C0392B;
  cursor: pointer;
  transition: 0.4s;
}
.wrap .navigations-images div:hover{
  transform: scale(1.2);
}
.active-navigation{
  background-color: #C0392B;
}
.slidee {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.slide1 {
  background-image: url("https://images.pexels.com/photos/1449052/pexels-photo-1449052.jpeg?auto=compress&cs=tinysrgb&h=650&w=940");
}
.slide2 {
  background-image: url("https://images.pexels.com/photos/81363/office-work-desk-computer-81363.jpeg?auto=compress&cs=tinysrgb&h=650&w=940");
}
.slide3 {
  background-image: url("https://images.pexels.com/photos/265152/pexels-photo-265152.jpeg?auto=compress&cs=tinysrgb&h=650&w=940");
}
.slide4 {
  background-image: url("https://images.pexels.com/photos/169573/pexels-photo-169573.jpeg?auto=compress&cs=tinysrgb&h=650&w=940");
}
.box-picture{
  padding-right: 35px;
  background-color: rgba(34,34,34,0.94);
  color: white;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slide-content .left-img-bg{
  background: url("bg-cut-div.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.95;
  height: 100%;
}
.slide-content .right-img-bg{
  background: url("bg-cut-div.png");
  opacity: 0.95;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  transform: rotate3d(0, 1, 0, 180deg);
}
.slide-content .left-bg{
  padding-right: 120px;
  padding-left: 35px;
  background-color: rgba(34,34,34,0.94);
  color: white;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right-bg{
  padding-right: 120px;
  padding-left: 35px;
  background-color: rgba(34,34,34,0.94);
  color: white;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner-box-picture-right{
  padding-left: 100px;
}
.arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 0;
  height: 0;
  border-style: solid;
  z-index: 9;
  transform: translateY(-50%);
}
#arrow-left {
  border-width: 20px 30px 20px 0;
  border-color: transparent #fff transparent transparent;
  left: 0;
  margin-left: 30px;
}
#arrow-right {
  border-width: 20px 0 20px 30px;
  border-color: transparent transparent transparent #fff;
  right: 0;
  margin-right: 30px;
}
#arrow-right:hover{
  border-color: transparent transparent transparent gray;
}
#arrow-left:hover{
  border-color: transparent gray transparent transparent;
}

/*DEVELOPMENT*/
.development{
  /*height: 40vh;*/
/*  padding-top: 20px;
  padding-bottom: 20px;*/
}
.development .box-development div{
  padding: 25px 20px;
}
.development div h3{
  padding-top: 10px;
  color: rgba(34,34,34,0.94);
  font-family: Arial;
  font-weight: bold;
  height: 80px;
  line-height: 35px;
  transition: 0.4s;
}
.development div p{
  line-height: 20px;
  letter-spacing: 0.9px;
  color: rgba(34,34,34,0.7);
}
.development div i{
  border-radius: 50%;
  border: 2px solid rgba(34,34,34,0.94);
  width: 45px;
  height: 45px;
  font-size: 20px;
  color: #C0392B;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  transition: 0.4s;
}
.development .box-development h4{
  padding-top: 10px;
}
.development div p strong{
  color: #C0392B;
}
.icon-home{
  width: 80px;
  margin: 0 auto;
}

/*FOOTER*/
.footer{
  background-color: #222222;
  padding-top: 15px;
  padding-bottom: 15px;
  color: lightgray;
}
.footer img{
  width: 143px;
  height: 51px;
  margin-bottom: 20px;
}
.footer i{
  color: #C0392B;
  margin-right: 10px;
}
.footer .border-bottom{
  border-bottom: 2px solid #C0392B;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.footer .copyright{
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .copyright a{
  text-decoration: none;
}
.footer .copyright i{
  font-size: 24px;
  color: white;
  transition: 0.3s;
}
.footer .copyright i:hover{
  color: #C0392B;
  transform: scale(1.2);
}
.footer ul{
  list-style: none;
  padding: 0;
  padding-top: 5px;
}
.footer ul li{
  height: 23px;
  cursor: pointer;
  transition: 0.3s;
}
.footer ul li:hover{
  color: #C0392B;
  font-size: 16px;
}
.footer ul a{
  text-decoration: none;
  color: lightgray;
}

address{
  padding-top: 20px;
}
@media screen and (max-width: 1199px) {
  #slider .slidee p{
    font-size: 12px;
  }
}


@media screen and (max-width: 991px) {
  .header ul li  a{
    font-size: 13px;
  }
  .footer .border-bottom{
    text-align: center;
  }
  .footer img{
    margin: 0 auto;
  }
  .footer #map{
    padding-top: 20px;
    padding-bottom: 20px;
  }
  #slider .slidee h2{
    font-size: 18px;
  }
  #slider .slidee p{
    font-size: 11px;
  }
  .development .box-development div{
    padding: 10px 20px;
  }
}
@media screen and (min-width: 768px) {
  .clear{
    clear: none;
  }
}
@media screen and (max-width: 767px) {
  .slide-content{
    height: 40vh;
  }
  body, #slider, .wrap, .slide-content{
    height: 40vh;
  }
  .slide-content .right-img-bg{
    display: none;
  }
  .inner-box-picture-right,
  .right-bg,
  .box-picture,
  .inner-box-picture-right{
    padding: 0;
  }
  .display-none{
    display: none;
  }
  .slide-content h2{
    margin: 0;
  }
  .left-img-bg{
    /*display: none;*/
  }
}



/*MAIN SLIDER*/
body {
      /*background-color: transparent;*/
      /*overflow: hidden;*/
}
#slides {
  width: 100%;
  height: 100%;
  white-space: nowrap;
  font-size: 0;
  transform: translateX(0);
}
.slide {
  width: 100%;
  height: 60vh;
  display: inline-block;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #cccccc;
}
.animate {
  transition: all .5s ease-out;
}
.slide:nth-child(1) {
  background-image: url(https://images.pexels.com/photos/296115/pexels-photo-296115.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
}
.slide:nth-child(2) {
  background-image: url(https://images.pexels.com/photos/296121/pexels-photo-296121.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
}
  .slide:nth-child(3) {
background-image: url(https://images.pexels.com/photos/296116/pexels-photo-296116.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
}
.main-slider{
  position: relative;
}
.indicators{
  width: 100px;
  height: auto;
  background-color: transparent;
  position: absolute;
  bottom: 4%;
  right: 50%;
  transform: translateX(50%);
  display: flex;
  justify-content: space-between;
}
.main-slider .indicators div {
  width: 28px;
  height: 10px;
  border-radius: 5px;
  border: 2px solid #C0392B;
  cursor: pointer;
  transition: 0.4s;
}
.main-slider .indicators div:hover{
  transform: scale(1.2);
}
.active-slider{
  background-color: #C0392B;
}



/*==================================================================*/
/*==================================================================*/
/*WORK PROCESS*/

.work-process{
  position: relative;
}

/* RESET STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.chart-skills.first {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}

.chart-skills.first *,
.chart-skills.first::before {
  box-sizing: border-box;
}


/* CHART-SKILLS.first STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.chart-skills.first {
  position: absolute;
  width: 220px;
  height: 110px;
  overflow: hidden;
  top: 85px;
}

.chart-skills.first::before,
.chart-skills.first::after {
  position: absolute;
}

.chart-skills.first::before {
  content: '';
  width: inherit;
  height: inherit;
  border: 30px solid rgba(211, 211, 211, .3);
  border-bottom: none;
  border-top-left-radius: 175px;
  border-top-right-radius: 175px;
}

.chart-skills.first::after {
  content: "";
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 50%);
  font-size: 20px;
  font-weight: bold;
  z-index: 9999;
  width: 50px;
  height: 50px;
}

.chart-skills.first li {
  position: absolute;
  top: 100%;
  left: 0;
  width: inherit;
  height: inherit;
  border: 30px solid;
  border-top: none;
  border-bottom-left-radius: 175px;
  border-bottom-right-radius: 175px;
  transform-origin: 50% 0;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  animation-fill-mode: forwards;
  animation-duration: .3s;
  animation-timing-function: linear;
}
.first-title h3{
  color: #B8D8D8;
}
.first-title{
  animation: fade-in 1.5s linear forwards;
}

.chart-skills.first li:nth-child(1) {
  z-index: 4;
  border-color: #B8D8D8;
  animation-name: rotate-one;
  animation-delay: .4s;
}

.chart-skills.first li:nth-child(2) {
  z-index: 3;
  border-color: #B8D8D8;
  animation-name: rotate-two;
  animation-delay: .7s;
}

.chart-skills.first li:nth-child(3) {
  z-index: 2;
  border-color: #B8D8D8;
  animation-name: rotate-three;
  animation-delay: 1s;
}

.chart-skills.first li:nth-child(4) {
  z-index: 1;
  border-color: #B8D8D8;
  animation-name: rotate-four;
  animation-delay: 1.3s;
}

.chart-skills.first span {
  position: absolute;
  font-size: .85rem;
  backface-visibility: hidden;
  animation: fade-in .4s linear forwards;
}

.chart-skills.first li:nth-child(1) span {
  top: 5px;
  left: 10px;
  transform: rotate(0deg);
}

.chart-skills.first li:nth-child(2) span {
  top: 20px;
  left: 10px;
  transform: rotate(-79.2deg);
  animation-delay: .4s;
}

.chart-skills.first li:nth-child(3) span {
  top: 18px;
  left: 10px;
  transform: rotate(-140.4deg);
  animation-delay: .8s;
}

.chart-skills.first li:nth-child(4) span {
  top: 10px;
  left: 10px;
  transform: rotate(-180deg);
  animation-delay: 1.2s;
}


/* ANIMATIONS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@keyframes rotate-one {
  100% {
    transform: rotate(45deg);
  }
}

@keyframes rotate-two {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

@keyframes rotate-three {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(135deg);
  }
}

@keyframes rotate-four {
  0% {
    transform: rotate(135deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@keyframes fade-in {
  0%,
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



/*=============================================================*/

/*SECOND*/
.chart-skills.second {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  transform: rotate(180deg);
  margin-right: -52px;
}

.chart-skills.second *,
.chart-skills.second::before {
  box-sizing: border-box;
}


/* CHART-SKILLS.second STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.chart-skills.second {
  position: absolute;
  width: 220px;
  height: 110px;
  top: 195px;
  overflow: hidden;
}

.chart-skills.second::before,
.chart-skills.second::after {
  position: absolute;
}

.chart-skills.second::before {
  content: '';
  width: inherit;
  height: inherit;
  border: 30px solid rgba(211, 211, 211, .3);
  border-bottom: none;
  border-top-left-radius: 175px;
  border-top-right-radius: 175px;
}

.chart-skills.second::after {
  content: '';
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
  font-size: 1.1rem;
  font-weight: bold;
  color: cadetblue;
}
.chart-skills.second li {
  position: absolute;
  top: 100%;
  left: 0;
  width: inherit;
  height: inherit;
  border: 30px solid;
  border-top: none;
  border-bottom-left-radius: 175px;
  border-bottom-right-radius: 175px;
  transform-origin: 50% 0;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  animation-fill-mode: forwards;
  animation-duration: .3s;
  animation-timing-function: linear;
}
.second-title h3{
  color: #7A9E97; 
}
.second-title{
  animation: fade-in 3.0s linear forwards;
}

.chart-skills.second li:nth-child(1) {
  z-index: 4;
  border-color: #7A9E97;
  animation-name: rotate-one-second;
  animation-delay: 1.6s;
}

.chart-skills.second li:nth-child(2) {
  z-index: 3;
  border-color: #7A9E97;
  animation-name: rotate-two-second;
  animation-delay: 1.9s;
}

.chart-skills.second li:nth-child(3) {
  z-index: 2;
  border-color: #7A9E97;
  animation-name: rotate-three-second;
  animation-delay: 2.2s;
}

.chart-skills.second li:nth-child(4) {
  z-index: 1;
  border-color: #7A9E97;
  animation-name: rotate-four-second;
  animation-delay: 2.5s;
}

.chart-skills.second span {
  position: absolute;
  font-size: .85rem;
  backface-visibility: hidden;
  animation: fade-in .4s linear forwards;
}

.chart-skills.second li:nth-child(1) span {
  top: 5px;
  left: 10px;
  transform: rotate(-21.6deg);
}

.chart-skills.second li:nth-child(2) span {
  top: 20px;
  left: 10px;
  transform: rotate(-79.2deg);
  animation-delay: .4s;
}

.chart-skills.second li:nth-child(3) span {
  top: 18px;
  left: 10px;
  transform: rotate(-140.4deg);
  animation-delay: .8s;
}

.chart-skills.second li:nth-child(4) span {
  top: 10px;
  left: 10px;
  transform: rotate(-180deg);
  animation-delay: 1.2s;
}


/* ANIMATIONS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@keyframes rotate-one-second {
  100% {
    transform: rotate(-45deg);
  }
}

@keyframes rotate-two-second {
  0% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(-90deg);
  }
}

@keyframes rotate-three-second {
  0% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(-135deg);
  }
}

@keyframes rotate-four-second {
  0% {
    transform: rotate(-135deg);
  }
  100% {
    transform: rotate(-180deg);
  }
}

@keyframes fade-in {
  0%,
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/*=============================================================*/

/*THIRD*/

.chart-skills.third *,
.chart-skills.third::before {
  box-sizing: border-box;
}


/* CHART-SKILLS STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.chart-skills.third {
  position: absolute;
  width: 220px;
  height: 110px;
  top: 85px;
  overflow: hidden;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}

.chart-skills.third::before,
.chart-skills.third::after {
  position: absolute;
}

.chart-skills.third::before {
  content: '';
  width: inherit;
  height: inherit;
  border: 30px solid rgba(211, 211, 211, .3);
  border-bottom: none;
  border-top-left-radius: 175px;
  border-top-right-radius: 175px;
}

.chart-skills.third::after {
  content: '';
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
  font-size: 1.1rem;
  font-weight: bold;
  color: cadetblue;
}

.chart-skills.third li {
  position: absolute;
  top: 100%;
  left: 0;
  width: inherit;
  height: inherit;
  border: 30px solid;
  border-top: none;
  border-bottom-left-radius: 175px;
  border-bottom-right-radius: 175px;
  transform-origin: 50% 0;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  animation-fill-mode: forwards;
  animation-duration: .3s;
  animation-timing-function: linear;
}
.third-title h3{
  color: #4F6367;
}
.third-title{
  animation: fade-in 4.2s linear forwards;
}

.chart-skills.third li:nth-child(1) {
  z-index: 4;
  border-color: #4F6367;
  animation-name: rotate-one;
  animation-delay: 2.8s;
}

.chart-skills.third li:nth-child(2) {
  z-index: 3;
  border-color: #4F6367;
  animation-name: rotate-two;
  animation-delay: 3.1s;
}

.chart-skills.third li:nth-child(3) {
  z-index: 2;
  border-color: #4F6367;
  animation-name: rotate-three;
  animation-delay: 3.4s;
}

.chart-skills.third li:nth-child(4) {
  z-index: 1;
  border-color: #4F6367;
  animation-name: rotate-four;
  animation-delay: 3.7s;
}

.chart-skills.third span {
  position: absolute;
  font-size: .85rem;
  backface-visibility: hidden;
  animation: fade-in .4s linear forwards;
}

.chart-skills.third li:nth-child(1) span {
  top: 5px;
  left: 10px;
  transform: rotate(-21.6deg);
}

.chart-skills.third li:nth-child(2) span {
  top: 20px;
  left: 10px;
  transform: rotate(-79.2deg);
  animation-delay: .4s;
}

.chart-skills.third li:nth-child(3) span {
  top: 18px;
  left: 10px;
  transform: rotate(-140.4deg);
  animation-delay: .8s;
}

.chart-skills.third li:nth-child(4) span {
  top: 10px;
  left: 10px;
  transform: rotate(-180deg);
  animation-delay: 1.2s;
}


/* ANIMATIONS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@keyframes rotate-one {
  100% {
    transform: rotate(45deg);
  }
}

@keyframes rotate-two {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

@keyframes rotate-three {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(135deg);
  }
}

@keyframes rotate-four {
  0% {
    transform: rotate(135deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@keyframes fade-in {
  0%,
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



/*=============================================================*/

/*FOURTH*/
.chart-skills.fourth {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  transform: rotate(180deg);
  margin-right: -52px;
}

.chart-skills.fourth *,
.chart-skills.fourth::before {
  box-sizing: border-box;
}


/* CHART-SKILLS.second STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.chart-skills.fourth {
  position: absolute;
  width: 220px;
  height: 110px;
  top: 195px;
  overflow: hidden;
}

.chart-skills.fourth::before,
.chart-skills.fourth::after {
  position: absolute;
}

.chart-skills.fourth::before {
  content: '';
  width: inherit;
  height: inherit;
  border: 30px solid rgba(211, 211, 211, .3);
  border-bottom: none;
  border-top-left-radius: 175px;
  border-top-right-radius: 175px;
}

.chart-skills.fourth::after {
  content: '';
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
  font-size: 1.1rem;
  font-weight: bold;
  color: cadetblue;
}

.chart-skills.fourth li {
  position: absolute;
  top: 100%;
  left: 0;
  width: inherit;
  height: inherit;
  border: 30px solid;
  border-top: none;
  border-bottom-left-radius: 175px;
  border-bottom-right-radius: 175px;
  transform-origin: 50% 0;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  animation-fill-mode: forwards;
  animation-duration: .3s;
  animation-timing-function: linear;
}
.fourth-title h3{
  color: #EEF5DB;
}
.fourth-title{
  animation: fade-in 5.5s linear forwards;
}

.chart-skills.fourth li:nth-child(1) {
  z-index: 4;
  border-color: #EEF5DB;
  animation-name: rotate-one-second;
  animation-delay: 4s;
}

.chart-skills.fourth li:nth-child(2) {
  z-index: 3;
  border-color: #EEF5DB;
  animation-name: rotate-two-second;
  animation-delay: 4.3s;
}

.chart-skills.fourth li:nth-child(3) {
  z-index: 2;
  border-color: #EEF5DB;
  animation-name: rotate-three-second;
  animation-delay: 4.6s;
}

.chart-skills.fourth li:nth-child(4) {
  z-index: 1;
  border-color: #EEF5DB;
  animation-name: rotate-four-second;
  animation-delay: 4.9s;
}

.chart-skills.fourth span {
  position: absolute;
  font-size: .85rem;
  backface-visibility: hidden;
  animation: fade-in .4s linear forwards;
}

.chart-skills.fourth li:nth-child(1) span {
  top: 5px;
  left: 10px;
  transform: rotate(-21.6deg);
}

.chart-skills.fourth li:nth-child(2) span {
  top: 20px;
  left: 10px;
  transform: rotate(-79.2deg);
  animation-delay: .4s;
}

.chart-skills.fourth li:nth-child(3) span {
  top: 18px;
  left: 10px;
  transform: rotate(-140.4deg);
  animation-delay: .8s;
}

.chart-skills.fourth li:nth-child(4) span {
  top: 10px;
  left: 10px;
  transform: rotate(-180deg);
  animation-delay: 1.2s;
}


/* ANIMATIONS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@keyframes rotate-one-second {
  100% {
    transform: rotate(-45deg);
  }
}

@keyframes rotate-two-second {
  0% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(-90deg);
  }
}

@keyframes rotate-three-second {
  0% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(-135deg);
  }
}

@keyframes rotate-four-second {
  0% {
    transform: rotate(-135deg);
  }
  100% {
    transform: rotate(-180deg);
  }
}

@keyframes fade-in {
  0%,
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}




/*=============================================================*/

/*FIVTH*/

.chart-skills.fifth *,
.chart-skills.fifth::before {
  box-sizing: border-box;
}


/* CHART-SKILLS STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.chart-skills.fifth {
  position: absolute;
  width: 220px;
  height: 110px;
  top: 85px;
  overflow: hidden;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}

.chart-skills.fifth::before,
.chart-skills.fifth::after {
  position: absolute;
}

.chart-skills.fifth::before {
  content: '';
  width: inherit;
  height: inherit;
  border: 30px solid rgba(211, 211, 211, .3);
  border-bottom: none;
  border-top-left-radius: 175px;
  border-top-right-radius: 175px;
}

.chart-skills.fifth::after {
  content: '';
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
  font-size: 1.1rem;
  font-weight: bold;
  color: cadetblue;
}

.chart-skills.fifth li {
  position: absolute;
  top: 100%;
  left: 0;
  width: inherit;
  height: inherit;
  border: 30px solid;
  border-top: none;
  border-bottom-left-radius: 175px;
  border-bottom-right-radius: 175px;
  transform-origin: 50% 0;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  animation-fill-mode: forwards;
  animation-duration: .3s;
  animation-timing-function: linear;
}
.fifth-title h3{
  color: #FE5F55;
}
.fifth-title{
  animation: fade-in 6.8s linear forwards;
}

.chart-skills.fifth li:nth-child(1) {
  z-index: 4;
  border-color: #FE5F55;
  animation-name: rotate-one;
  animation-delay: 5.2s;
}

.chart-skills.fifth li:nth-child(2) {
  z-index: 3;
  border-color: #FE5F55;
  animation-name: rotate-two;
  animation-delay: 5.5s;
}

.chart-skills.fifth li:nth-child(3) {
  z-index: 2;
  border-color: #FE5F55;
  animation-name: rotate-three;
  animation-delay: 5.8s;
}

.chart-skills.fifth li:nth-child(4) {
  z-index: 1;
  border-color: #FE5F55;
  animation-name: rotate-four;
  animation-delay: 6.1s;
}

.chart-skills.fifth span {
  position: absolute;
  font-size: .85rem;
  backface-visibility: hidden;
  animation: fade-in .4s linear forwards;
}

.chart-skills.fifth li:nth-child(1) span {
  top: 5px;
  left: 10px;
  transform: rotate(-21.6deg);
}

.chart-skills.fifth li:nth-child(2) span {
  top: 20px;
  left: 10px;
  transform: rotate(-79.2deg);
  animation-delay: .4s;
}

.chart-skills.fifth li:nth-child(3) span {
  top: 18px;
  left: 10px;
  transform: rotate(-140.4deg);
  animation-delay: .8s;
}

.chart-skills.fifth li:nth-child(4) span {
  top: 10px;
  left: 10px;
  transform: rotate(-180deg);
  animation-delay: 1.2s;
}


/* ANIMATIONS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@keyframes rotate-one {
  100% {
    transform: rotate(45deg);
  }
}

@keyframes rotate-two {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

@keyframes rotate-three {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(135deg);
  }
}

@keyframes rotate-four {
  0% {
    transform: rotate(135deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@keyframes fade-in {
  0%,
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



/*=============================================================*/

/*FOURTH*/
.chart-skills.sixth {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  transform: rotate(180deg);
  margin-right: -52px;
}

.chart-skills.sixth *,
.chart-skills.sixth::before {
  box-sizing: border-box;
}


/* CHART-SKILLS.second STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.chart-skills.sixth {
  position: absolute;
  width: 220px;
  height: 110px;
  top: 195px;
  overflow: hidden;
}

.chart-skills.sixth::before,
.chart-skills.sixth::after {
  position: absolute;
}

.chart-skills.sixth::before {
  content: '';
  width: inherit;
  height: inherit;
  border: 30px solid rgba(211, 211, 211, .3);
  border-bottom: none;
  border-top-left-radius: 175px;
  border-top-right-radius: 175px;
}

.chart-skills.sixth::after {
  content: '';
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
  font-size: 1.1rem;
  font-weight: bold;
  color: cadetblue;
}

.chart-skills.sixth li {
  position: absolute;
  top: 100%;
  left: 0;
  width: inherit;
  height: inherit;
  border: 30px solid;
  border-top: none;
  border-bottom-left-radius: 175px;
  border-bottom-right-radius: 175px;
  transform-origin: 50% 0;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  animation-fill-mode: forwards;
  animation-duration: .3s;
  animation-timing-function: linear;
}

.chart-skills.sixth li:nth-child(1) {
  z-index: 4;
  border-color: brown;
  animation-name: rotate-one-second;
  animation-delay: 6.4s;
}
.sixth-title h3{
  color: brown;
}
.sixth-title{
  animation: fade-in 8.1s linear forwards;
}

.chart-skills.sixth li:nth-child(2) {
  z-index: 3;
  border-color: brown;
  animation-name: rotate-two-second;
  animation-delay: 6.7s;
}

.chart-skills.sixth li:nth-child(3) {
  z-index: 2;
  border-color: brown;
  animation-name: rotate-three-second;
  animation-delay: 7s;
}

.chart-skills.sixth li:nth-child(4) {
  z-index: 1;
  border-color: brown;
  animation-name: rotate-four-second;
  animation-delay: 7.3s;
}

.chart-skills.sixth span {
  position: absolute;
  font-size: .85rem;
  backface-visibility: hidden;
  animation: fade-in .4s linear forwards;
}

.chart-skills.sixth li:nth-child(1) span {
  top: 5px;
  left: 10px;
  transform: rotate(-21.6deg);
}

.chart-skills.sixth li:nth-child(2) span {
  top: 20px;
  left: 10px;
  transform: rotate(-79.2deg);
  animation-delay: .4s;
}

.chart-skills.sixth li:nth-child(3) span {
  top: 18px;
  left: 10px;
  transform: rotate(-140.4deg);
  animation-delay: .8s;
}

.chart-skills.sixth li:nth-child(4) span {
  top: 10px;
  left: 10px;
  transform: rotate(-180deg);
  animation-delay: 1.2s;
}


/* ANIMATIONS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@keyframes rotate-one-second {
  100% {
    transform: rotate(-45deg);
  }
}

@keyframes rotate-two-second {
  0% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(-90deg);
  }
}

@keyframes rotate-three-second {
  0% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(-135deg);
  }
}

@keyframes rotate-four-second {
  0% {
    transform: rotate(-135deg);
  }
  100% {
    transform: rotate(-180deg);
  }
}

@keyframes fade-in {
  0%,
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
  
  ul h3{
    text-align: center;
  }

  ul p{
    position: absolute;
    left: 50%;
    transform: rotate(-180deg);
    transform: translate(-50%);
  }

  .progress-container{
    width: 220px;
      display: inline-block;
      position: absolute;
      height: 405px;
  }
  .progress-container.even .progress-title{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
  }
  .progress-container .container{
      width: 100%;
      height: 110px;
      padding: 0;
  }
  .icon-progress{
    background-image: url(images/icon1.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 20px;
      font-weight: bold;
      width: 50px;
      height: 50px;
      position: absolute;
  }

  .progress-container:nth-child(2){
    left: 190px;
  }
  .progress-container:nth-child(3){
    left: 380px;
  }
  .progress-container:nth-child(4){
    left: 570px;
  }
  .progress-container:nth-child(5){
    left: 760px;
  }
  .progress-container:nth-child(6){
    left: 950px;
  }
  .progress-title{
    text-align: center;
    height: 110px;
  }
  .work-process-row-container{
    height: 405px;
    position: relative;
  }
  .work-process-row-container .col-lg-12.col-md-12.col-sm-12{
    padding: 0;
    /*position: absolute;*/
    /*left: 2.5%;*/
    /*transform: translateX(-50%);*/
  }
  .work-process-row-container .col-lg-12.col-md-12.col-sm-12 small{
    color: rgba(34,34,34,0.7);
  }
  .work-process-row-container .col-lg-12.col-md-12.col-sm-12 h2{
    color: inherit;
  }

@media screen and (max-width: 991px) {
  .header {
    padding: 0px;
  }
}