@font-face {
  font-family: Segoe Script;
  src: url(fonts/segoesc.ttf);
}
.clear{
  clear: both;
}
.header{
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}
.header ul li a{
  padding-top: 22px;
  padding-bottom: 13px;
}
.header .logo{
  padding: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 143px;
  height: 61px;
}
.header img{
  width: 100%;
  height: 100%;
}
.header img:hover{
  cursor: pointer;
}
.header ul li a{
  border-bottom: 5px solid transparent;
  transition: 0.3s;
  letter-spacing: 0.6px;
  font-weight: bold;
  font-size: 16px;
  font-family: Segoe Script, sans-serif;
}
.header ul li a:hover{
  border-bottom: 5px solid #C0392B;
}
.header ul .active a{
  background-color: #C0392B !important;
}
#mynavbar{
  width: 100%;
  text-align: center !important;
}

/*FOOTER*/
.footer{
  background-color: #222222;
  padding-top: 15px;
  padding-bottom: 15px;
  /*padding-bottom: 70px;*/
  color: lightgray;
}
.footer img{
  width: 143px;
  height: 51px;
  margin-bottom: 20px;
}
.footer p{
  /*padding-top: 10px;*/
}
.footer i{
  color: #C0392B;
  margin-right: 10px;
}
.footer .border-bottom{
  border-bottom: 2px solid #C0392B;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.footer .copyright{
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .copyright a{
  text-decoration: none;
}
.footer .copyright i{
  font-size: 24px;
  color: white;
  transition: 0.3s;
}
.footer .copyright i:hover{
  color: #C0392B;
  transform: scale(1.2);
}
.footer ul{
  list-style: none;
  padding: 0;
  padding-top: 5px;
}
.footer ul li{
  height: 23px;
  cursor: pointer;
  transition: 0.3s;
}
.footer ul li:hover{
  color: #C0392B;
  font-size: 16px;
}
.footer ul a{
  text-decoration: none;
  color: lightgray;
}

/*BUTTON TO TOP*/

.top-button i{
  color: white;
  position: fixed;
  right: 40px;
  bottom: 40px;
  background-color: #222222;
  padding: 10px;
  border-radius: 7px;
  z-index: 999;
}
.top-button:hover i{
  background-color: #C0392B;
  cursor: pointer; #222222;
}
.hideme{
  opacity: 0;
}


@media screen and (max-width: 991px) {
  .header ul li  a{
    font-size: 10px;
  }
  .footer .border-bottom{
    text-align: center;
  }
  .footer img{
    margin: 0 auto;
  }
}

.pd-top-30px{
	padding-top: 20px;
}
.our-services{
	padding:94px 0px;
}
.our-services .our-services-box{
	padding: 20px 0px;
}
.left-side-services .image-box i{
	position: absolute;
	font-size: 25px;
	right: 15%;
	border-radius: 50%;
	background-color: #C0392B;
	color: #E7E8EC;
	padding: 15px 20px;
}
.right-side-services .image-box i{
	position: absolute;
	font-size: 25px;
	left: 10%;
	border-radius: 50%;
	background-color: #C0392B;
	color: #E7E8EC;
	padding: 15px 20px;
}
.our-services .our-services-box .image-box img{
	width: 90%;
	height: 200px;
	border-radius: 50%;
}
.our-services .our-services-box button{
	background-color: #C0392B;
	padding: 10px 15px;
	color: #E7E8EC;
	transition: 0.3s;
}

.our-services .our-services-box button:hover{
	color: white;
}
.our-services .our-services-box p{
	line-height: 25px;
	letter-spacing: 1px;
}
.text-right{
	text-align: right;
}


/*BUTTON SERVICES*/
a.animated-button.victoria-one {
	border: 2px solid #C0392B;
}
a.animated-button.victoria-three:hover:after {
	opacity: 1;
}
a.animated-button.thar-three {
	color: #C0392B;
	cursor: pointer;
	display: block;
	position: relative;
	border: 2px solid #C0392B;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}
a.animated-button.thar-three:hover {
	color: white !important;
	background-color: transparent;
	text-shadow: nthree;
}
a.animated-button.thar-three:hover:before {
	left: 0%;
	right: auto;
	width: 100%;
}
a.animated-button.thar-three:before {
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
	height: 100%;
	width: 0px;
	z-index: -1;
	content: '';
	color: #000 !important;
	background: #C0392B;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}

.our-services button{
  background-color: #222222;
  color: white;
  transition: 0.2s;
  font-weight: bold;
  letter-spacing: 1px;
}
.our-services button:hover{
  background-color: #C0392B;
  color: white;
}


/*TITLE IN BOX*/

.title-text div{
  font-size: 16px;
}
.title-text span{
  display:inline-block;
  color:black;
  transform-origin: 50% 70%;
}

.title-text span:nth-child(1){
  animation: flipper 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) both, fadeIn both;
}
.title-text span:nth-child(2){
  animation: flipper 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) .1s both, fadeIn 1s both;
}
.title-text span:nth-child(3){
  animation: flipper 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) .15s both, fadeIn 1s both;
}
.title-text span:nth-child(4){
  animation: flipper 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) .2s both, fadeIn 1s both;
}
.title-text span:nth-child(5){
  animation: flipper 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) .25s both, fadeIn 1s both;
}
.title-text span:nth-child(6){
  animation: flipper 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) .3s both, fadeIn 1s both;
}
.title-text span:nth-child(7){
  animation: flipper 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) .35s both, fadeIn 1s both;
}
.title-text span:nth-child(8){
  animation: flipper 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) .4s both, fadeIn 1s both;
}
.title-text span:nth-child(9){
  animation: flipper 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) .45s both, fadeIn 1s both;
}

@keyframes flipper{
  from{transform: rotateX(90deg);}
  to{transform: rotateX(0deg);}
}

@keyframes fadeIn{
  from{opacity:0};
  to{opacity:1};
}
.title-text .color-red{
	color: #C0392B;
}

@media screen and (min-width: 768px) {
  .clear{
    clear: none;
  }
}