@font-face {
  font-family: Roboto Condensed;
  src: url("./fonts/Roboto-Regular.ttf");
}
body{
  font-family: Roboto Condensed;
}
.clear{
  clear: both;
}
a{
  text-decoration: none !important;
}
.header{
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  padding: 0 !important;
}
.navbar-brand{
  padding: 0 15px;
}
.header .logo{
  padding-top: 5px;
  width: 173px;
  height: 100%;
}
.header img{
  width: 100%;
  height: 60px;
  padding: 4px 0px;
}
.header img:hover{
  cursor: pointer;
}
.header ul li a{
  transition: 0.3s;
  letter-spacing: 0.6px;
  font-weight: bold;
  font-size: 16px;
  color: white !important;
}
.header ul li{
  border-bottom: 5px solid transparent;
  border-top: 5px solid transparent;
  padding: 5px 0;
}
.header ul li:hover{
  border-bottom: 5px solid #C0392B;
}

.header ul .active a{
  background-color: transparent !important;
  color: #C0392B !important;
}
#mynavbar{
  width: 100%;
  text-align: center !important;
}
.wrap-about-us{
  margin-top: 80px;
}
.shrink{
  padding: 0px;
}
.nav-down {
    position: fixed;
    top: 0;
    transition: top 0.4s ease-in-out;
    width: 100%;
}

.nav-up {
  top: -65px;
  position: fixed;
  transition: top 0.4s ease-in-out;
}

.second-nav-down{
  transition: top .4s ease-in-out;
  width: 100%;
}
.second-nav-up {
  top: 0px;
}
.navbar-inverse .navbar-toggle{
  background-color: transparent;
  border-color: transparent;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover{
  background-color: transparent;
}
@media screen and (max-width: 767px) {
  .header ul li{
    padding: 0;
  }
  .header img {
    padding: 2px 20px 0px 0px;
    height: 45px;
  }
  .header .logo{
    padding: 0;
    padding: 2.5px 7px;
  }
  .header #mynavbar ul {
    display: inline-block;
  }
  .display-none-mobile{
    display: none;
  }
}

/*FOOTER*/
.footer{
  background-color: #222222;
  padding-top: 15px;
  padding-bottom: 15px;
  color: lightgray;
}
.footer img{
  width: 143px;
  height: 51px;
  margin-bottom: 20px;
}
.footer i{
  color: #C0392B;
  margin-right: 10px;
  margin-left: 10px;
}
.footer .border-bottom{
  border-bottom: 2px solid #C0392B;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.footer .copyright{
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .copyright a{
  text-decoration: none;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #383838;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  margin-right: 3px;
  margin-left: 3px;
}
.footer .copyright a:hover{
  background: #C0392B;
}
.footer .copyright i{
  font-size: 18px;
  color: white;
  transition: 0.3s;
}
.footer ul{
  list-style: none;
  padding: 0;
  padding-top: 5px;
}
.footer ul li{
  height: 23px;
  cursor: pointer;
  transition: 0.3s;
}
.footer ul li:hover{
  color: #C0392B;
}
.footer ul a{
  text-decoration: none;
  color: lightgray;
}


@media screen and (max-width: 991px) {
  .header ul li  a{
    font-size: 13px;
  }
  .footer .border-bottom{
    text-align: center;
  }
  .footer img{
    margin: 0 auto;
    margin-bottom: 10px;
  }
  .copyright{
    margin-top: 15px;
    margin-bottom: 5px;
  }
}

.pd-top-30px{
	padding-top: 20px;
}
.our-services{
  padding-top: 80px;
  padding-bottom: 30px;
}
.our-services .our-services-box{
	padding: 20px 0px;
}
.left-side-services .image-box i{
	position: absolute;
	font-size: 25px;
	right: 15%;
	border-radius: 50%;
	background-color: #C0392B;
	color: #E7E8EC;
	padding: 15px 20px;
}
.right-side-services .image-box i{
	position: absolute;
	font-size: 25px;
  top: -10%;
	border-radius: 50%;
	background-color: #C0392B;
	color: #E7E8EC;
	padding: 15px 20px;
}
.our-services .our-services-box .image-box img{
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  -webkit-box-shadow: 3px 7px 14px -3px rgba(0,0,0,0.33);
  -moz-box-shadow: 3px 7px 14px -3px rgba(0,0,0,0.33);
  box-shadow: 3px 7px 14px -3px rgba(0,0,0,0.33);
}
.our-services .our-services-box p{
  padding-top: 10px;
  text-align: justify;
  font-size: 15px;
}
.text-right{
	text-align: right;
}


/*BUTTON SERVICES*/
a.animated-button.victoria-one {
	border: 2px solid #C0392B;
}
a.animated-button.victoria-three:hover:after {
	opacity: 1;
}
a.animated-button.thar-three {
	color: #C0392B;
	cursor: pointer;
	display: block;
	position: relative;
	border: 2px solid #C0392B;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}
a.animated-button.thar-three:hover {
	color: white !important;
	background-color: transparent;
	text-shadow: nthree;
}
a.animated-button.thar-three:hover:before {
	left: 0%;
	right: auto;
	width: 100%;
}
a.animated-button.thar-three:before {
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
	height: 100%;
	width: 0px;
	z-index: -1;
	content: '';
	color: #000 !important;
	background: #C0392B;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}

.our-services button{
  background-color: #222222;
  color: white;
  transition: 0.2s;
  letter-spacing: 1px;
  border: 1px solid #222222;
  border-radius: 9px;
}
.our-services button:hover{
  background-color: #C0392B;
  color: white;
  border: 1px solid #C0392B;
  -webkit-box-shadow: 3px 7px 14px -3px rgba(0,0,0,0.33);
  -moz-box-shadow: 3px 7px 14px -3px rgba(0,0,0,0.33);
  box-shadow: 3px 7px 14px -3px rgba(0,0,0,0.33);
}
.btn:active{
  background-image: none; 
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}
.btn:focus{
  color: white;
  text-decoration: none;
  outline: none;
}
.btn:active:focus, .btn:focus {
  outline: none;
}


/*TITLE IN BOX*/

.title-text div{
  font-size: 18px;
  font-weight: 700;
}
.title-text span{
  display: inline-block;
  color: black;
  transform-origin: 50% 70%;
}

.title-text span:nth-child(1){
  animation: flipper 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) both, fadeIn both;
}
.title-text span:nth-child(2){
  animation: flipper 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) .1s both, fadeIn 1s both;
}
.title-text span:nth-child(3){
  animation: flipper 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) .15s both, fadeIn 1s both;
}
.title-text span:nth-child(4){
  animation: flipper 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) .2s both, fadeIn 1s both;
}
.title-text span:nth-child(5){
  animation: flipper 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) .25s both, fadeIn 1s both;
}
.title-text span:nth-child(6){
  animation: flipper 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) .3s both, fadeIn 1s both;
}
.title-text span:nth-child(7){
  animation: flipper 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) .35s both, fadeIn 1s both;
}
.title-text span:nth-child(8){
  animation: flipper 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) .4s both, fadeIn 1s both;
}
.title-text span:nth-child(9){
  animation: flipper 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) .45s both, fadeIn 1s both;
}

@keyframes flipper{
  from{transform: rotateX(90deg);}
  to{transform: rotateX(0deg);}
}

@keyframes fadeIn{
  from{opacity:0};
  to{opacity:1};
}
.title-text .color-red{
	color: #C0392B;
}

@media screen and (min-width: 768px) {
  .clear{
    clear: none;
  }
  .our-services-box{
    height: 40vh;
  }
}

@media screen and (max-width: 991px) {
  .header {
    padding: 0px;
  }
  .right-side-services{
    display: flex;
    flex-direction: column-reverse;
  }
  .title-text{
    text-align: center;
  }
  .our-services .our-services-box .image-box img {
    width: 100%;
  }
  .our-services .our-services-box {
    padding: 10px 0px;
  }
  hr{
    display: inline-block;
  }
  .right-side-services .image-box i{
    left: 10%;
    top: 0%;
  }
  .left-side-services .image-box i{
    top: 5%;
  }
  .header .logo {
    padding-top: 2px;
  }
}
@media screen and (max-width: 767px) {
  .our-services{
    padding: 60px 0px;
  }
  .right-side-services .image-box i{
    top: -10%;
  }
  .left-side-services .image-box i{
    top: 0%;
  }
  .copyright{
    margin-top: 0;
    margin-bottom: 0;
  }
}


hr{
  height: 3px;
  background-image: linear-gradient(to left, #C0392B , #222222);
  margin-top: 0px;
  margin-bottom: 5px;
  display: none;
}
.our-services-box p,
.our-services-box .col-md-4,
.footer{
  display: none;
}
.our-services-box .custom{
  width: 172px;
}
.our-services-box .web{
  width: 144px;
}
.our-services-box .mobile{
  width: 163px;
}
.our-services-box .digital{
  width: 135px;
}
.col-md-4.col-md-offset-4{
  display: none;
}




/*MODAL FORM*/
/*INPUTS*/
.modal.fade.in{
  /*filter: blur(1px);*/
  background-color: rgba(0,0,0,0.7)
}
.input-holder {
  position: relative;
}
.input {
  font-size: 14px;
  padding: 10px 15px;
  border-radius: 9px;
  border: 1px solid lightgray;
  width: 100%;
  outline: none;
}
.input:not(:placeholder-shown).input:not(:focus) {
  border: 1px solid lightgray;
}
.input:not(:placeholder-shown).input:not(:focus) + .placeholder {
  transform: scale(0.75) translateY(-26px) translateX(-5px);
  color: grey;
}
.input:not(:placeholder-shown).input:not(:focus).input:not(:valid) {
  border: 1px solid lightgray;
  color: #C0392B;
}
.input:not(:placeholder-shown).input:not(:focus).input:not(:valid) + .placeholder {
  transform: scale(0.75) translateY(-26px) translateX(-5px);
  color: lightgray;
}
.input:not(:placeholder-shown).input:not(:focus).input:not(:valid) + .placeholder + .error {
  visibility: visible;
}
.input:focus {
  border-color: #C0392B;
}
.input:focus + .placeholder {
  transform: scale(0.75) translateY(-26px) translateX(-5px);
  color: #C0392B;
}
.placeholder {
  position: absolute;
  top: 14%;
  left: 8px;
  padding: 0 8px;
  background-color: white;
  transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1), opacity 150ms cubic-bezier(0.4, 0, 0.2, 1);
  color: grey;
  font-size: 14px;
  pointer-events: none;
}
.error {
  visibility: hidden;
  color: #C0392B;
  font-weight: 300;
  font-size: 12px;
  padding-bottom: 10px;
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.holder textarea{
  resize: none;
}
.holder .placeholder-textarea{
  top: 7%;
}
.dropdown.input-holder .placeholder{
  display: none;
}

.dropdown.input-holder:focus .placeholder{
  display: block !important;
}
button.close.bg-black{
  background-color: unset !important;
  border: 0px solid transparent;
}
button.close.bg-black:hover{
  background-color: unset !important;
  border: 0px solid transparent;
}
button.close span{
  padding: 3px 8px;
  border-radius: 5px;
  /*background: white;*/
  color: black;
  letter-spacing: unset;
}
button.close span:hover,
button.close:focus{
  background-color: black;
  color: white;
  outline: none;
}
.bg-black:hover{
  background-color: black !important;
  -webkit-box-shadow: 3px 7px 14px -3px rgba(0,0,0,0.33);
  -moz-box-shadow: 3px 7px 14px -3px rgba(0,0,0,0.33);
  box-shadow: 3px 7px 14px -3px rgba(0,0,0,0.33);
}
#btn-close{
  background-color: white;
  border: 1px solid #222222;
  color: #222222;
  transition: 0.2s;
  letter-spacing: 1px;
}
.btn.btn-secondary{
  border-radius: 4px;
}
.btn.btn-secondary:hover{
  -webkit-box-shadow: 3px 7px 14px -3px rgba(0,0,0,0.33);
  -moz-box-shadow: 3px 7px 14px -3px rgba(0,0,0,0.33);
  box-shadow: 3px 7px 14px -3px rgba(0,0,0,0.33);
}

#btn-close:hover{
  background-color: #C0392B;
  color: white;
  border: 1px solid #C0392B;
}
/*TEXT AREA SCROLL*/
textarea::-webkit-scrollbar {
    -webkit-appearance: none;
}

textarea::-webkit-scrollbar:vertical {
    width: 11px;
}

textarea::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, .5);
}

textarea::-webkit-scrollbar-track { 
    background-color: #f4f4f4;
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
    border-radius: 8px; 
} 

/*MODAL BLUR*/
.blur-modal {
  -webkit-transform: scale(1);
  -webkit-transition: all linear 0.5s 0;
}

.modal-open .blur-modal {
  -webkit-filter: blur(2px);
  -ms-filter: blur(2px);
  -o-filter: blur(2px);
  filter: blur(2px);
}
.modal-open button{
  background-color: #222222;
  color: white;
  transition: 0.2s;
  letter-spacing: 1px;
  border: 1px solid #222222;
}
.modal-open button:hover{
  background-color: #C0392B;
  color: white;
  border: 1px solid #C0392B;

}
.modal-header{
  padding: 0;
  padding-left: 15px;
  background: #C0392B;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #fff;
  border-bottom: none;
  margin-bottom: 6px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.modal-header h2{
  font-size: 20px;
  padding-top: 0;
  margin-top: 10px;
}
.modal-header button{
  position: absolute;
  right: 6px;
  top: 12px;
}

@media (max-width: 767px) and (max-height: 523px) {
  .modal-dialog{
      overflow-y: initial !important
  }
  .modal-body{
      height: 60vh;
      overflow-y: auto;
      margin-bottom: 10px;
  }
}

@media (min-width: 768px) and (max-height: 563px) {
  .modal-dialog{
      overflow-y: initial !important
  }
  .modal-body{
      height: 60vh;
      overflow-y: auto;
      margin-bottom: 10px;
  }
}

